[2019-09-21 21:17] preetkaran20 opened #13 "Eye Catcher Check is not there in Null Byte Injection attack causing ZAP to fail."

[2019-09-21 21:18] preetkaran20 commented on #13
Handled issue by adding Eye Catcher Check https://github.com/SasanLabs/VulnerableApp/pull/14

[2019-09-21 21:18] #13 closed

[2019-09-25 17:00] preetkaran20 opened #20 "Add some Hook to help user to solve the problem."
we are always returning some page when ever attack is not successful. we need to add a way to return different pages like say help pages etc.

[2019-09-25 17:02] preetkaran20 opened #21 "Add more tests related to XSS"

[2019-09-25 17:02] preetkaran20 opened #22 "Add More test cases for LFI"

[2019-09-25 17:02] preetkaran20 opened #23 "Add More tests for RFI"

[2019-09-25 17:02] preetkaran20 opened #24 "Add more tests for Command Injection"

[2019-09-25 17:03] preetkaran20 opened #25 "Analysis of Framework level UI changes."

[2019-09-25 17:03] preetkaran20 opened #26 "Analysis on Making backend more robust."
Adding Design Docs.
Internal Review.

[2019-09-25 17:04] preetkaran20 commented on #25
Choosing FrontEnd Library.
Library to create Something like a Game.
Backend changes Supporting UI.

[2019-09-25 17:08] preetkaran20 opened #27 "[Don't Pick ] Adding Support for extending and enhancing it with other TechStacks"
Cannot pick it now as framework is not stable. But a Good Enhancement chunk for future.

[2019-09-27 11:47] preetkaran20 opened #28 "Adding SpotLess to Project"
1. Adding Spotless project dependency
2. Adding License Header
3. Both Maven and Gradle

[2019-09-27 12:30] preetkaran20 opened #29 "Enhance VulnerableApp for adding Flag based levels like other VulnerableApplication have."
1. Introduce a new cookie and as per cookie run the entire application as Secure/insecure etc.
2. As endpoints are resolved by application so giving a way to go with Cookie based resolution and Url based resolution.
3. Only moving to Cookie based might not be good for someone who is testing url manually, trying to learn. (This is valid untill we are not converting app into Game.)
eg is similar to

[2019-09-27 12:37] preetkaran20 commented on #20
Added Attack Vectors annotations.

[2019-09-27 12:38] preetkaran20 commented on #20
https://github.com/SasanLabs/VulnerableApp/pull/30

[2019-09-27 12:38] preetkaran20 commented on #20
Now need to add various payloads and a framework , like endpoint to show the help to the user.

[2019-09-28 06:56] preetkaran20 opened #32 "Adding annotation processor to restrict the return type of methods."
Our Annotation ``` VulnerabilityLevel ``` should restrict the method to return a Bean whcich is same as response bean or extract an interface with all the methods and restrict on that interface so that error scenarios can be tamed.

[2019-09-28 09:49] preetkaran20 opened #33 "Analysis on Adding Post Method support Seamlessly"
Till Today we can handle Get calls only and there is no way for Post calls handling. That is ok if we think of this application as only useful for scripting and injection attacks but going forward we might want to add something like CSRF or say Authentication vulnerabilities which requires post calls as a must.
Some solutions that i have in my mind are :-
1. Adding Method Type field in vulnerabili

[2019-09-28 19:30] preetkaran20 commented on #25
Little approach analysis :- https://github.com/SasanLabs/VulnerableApp/blob/master/docs/DesignThinking.md

[2019-09-29 12:39] preetkaran20 opened #43 "Adding logger to the Vulnerable App Project."
Logger setup is not done on VulnerableApp. Need to setup logger.
Log4j setup.

[2019-10-05 16:16] preetkaran20 commented on #43
https://github.com/SasanLabs/VulnerableApp/pull/45

[2019-10-05 16:16] preetkaran20 commented on #43
Done.

[2019-10-05 16:16] #43 closed

[2019-10-05 20:32] preetkaran20 opened #46 "Adding UI for taking input from user in Text Box"
URL restrict various unsafe character which might be ok for backend like {} etc which are used by mongo db injection. so this is urgent.

[2019-10-05 20:37] preetkaran20 opened #48 "Due to mongo insertion of data, many times server startup fails."
Fix the insertion of Data into Mongo. Server Startup fails and requires fix again and again.

[2019-10-05 20:50] preetkaran20 opened #49 "Add Blind NoSQL injection to Mongo"
Mongo DB adding blind sql injection where output is just true or false and finding APP Secret from HIddenEntity.

[2019-10-05 20:51] preetkaran20 commented on #49
Something similar to https://github.com/LuigiCasciaro/MongoDB-vulnerable-webapp

[2019-10-08 11:02] preetkaran20 commented on #25
we can add Swagger API UI for testing. Might not be useful for Browser based XSS etc but very good for Other API based Testing like SQL Injections etc.

[2019-10-12 07:32] preetkaran20 commented on #33
Added Post Mapping to same controller method. it will populate body if post call is there.
https://github.com/SasanLabs/VulnerableApp/pull/50

[2019-10-12 07:32] #33 closed

[2019-10-12 10:22] preetkaran20 commented on #46
Step 1 :- https://github.com/SasanLabs/VulnerableApp/pull/51

[2019-10-28 10:26] preetkaran20 commented on #48
it is not related to insertion issues. something else. Here Server Start up fails sometimes due to dependency resolving. Need to check more.

[2019-11-23 20:48] preetkaran20 commented on #22
Added 2 test cases for LFI :- https://github.com/SasanLabs/VulnerableApp/pull/57

[2020-02-08 16:41] preetkaran20 commented on #48
For now i stopped calls to mongo related vulnerability. will start working on fixing it.

[2020-02-08 18:06] preetkaran20 opened #74 "Design on making exploits easier until we are not building UI"
Till now we are dependent on query params etc but user might not be familiar for what should be the parameter type or parameter key etc.
so until we are not giving UI we need to provide some way to tell user how they can execute exploit.

some standard ways can be creating one more endpoint like /allEndPoint where we can let user know the query param key etc things.
or something else.

we can also

[2020-02-08 21:36] preetkaran20 commented on #74
For now something temporary UI is added eg:
![image](https://user-images.githubusercontent.com/13570884/74092391-0df1b080-4ae9-11ea-9f73-453614d48ff3.png)

Still some of the points in my mind are like each vulnerablilty tells the way it accept input or a way to append some javascript code or html code.

[2020-02-08 21:37] preetkaran20 commented on #74
https://github.com/SasanLabs/VulnerableApp/pull/75

[2020-02-09 17:51] preetkaran20 opened #80 "All the vulnerabilities are having buffer overflow"
we want Vulnerabilities present in VulnerableApp are intended but each vuilnerable test is vulnerable to bufferoverflow so we want to fix this issue.

please add some kind of restriction on the return response bean.

[2020-02-14 20:48] preetkaran20 commented on #80
added restriction on the Level and Vulnerability name in controller. This can be an easy fix but as we move to buffer overflow we need to check for restricting query params too. lets see how we handle that. for now closing it.

[2020-02-15 19:45] preetkaran20 commented on #80
There are still parameters like Cookies which are having buffer overflows.
I think we need a way to stop such cases properly.

[2020-02-15 20:19] preetkaran20 opened #85 "JWT Vulnerabilities code reviews"
1. Most of the code written is not scaling to multiple algorithms and it is written mostly for HS256 and RS256 but we need to make it scalable and easy to extend.
2. Code review is must as code is not as par with the standard for now and there can be array index out of bound or null pointers which need to be handled.
3. Reason for writing custom and using library is not mentioned, mention it so th

[2020-02-22 18:03] preetkaran20 opened #89 "Vulnerability descriptions are not proper"
While going through vulnerability descriptions, found that they are not proper and needs a revisit.
Need to separate out where the value was found ie cookie or url or other place and the description of vulnerability.

Found while writing JWT Vulnerabilities

Also Description is the only parameter which is not right we should do the way ZAP is doing ie Desc plus Reference plus Solution plus more in

[2020-03-09 15:19] preetkaran20 commented on #74
Started working on adding master detail layout for our usecase.
https://github.com/SasanLabs/VulnerableApp/pull/93

[2020-03-09 15:20] preetkaran20 commented on #74
Closing this issue as we are going with complete new approach as we discussed in https://github.com/SasanLabs/VulnerableApp/issues/25 which is regarding to templates design.

[2020-03-09 15:20] #74 closed

[2020-03-13 20:42] preetkaran20 opened #95 "Returning Ajax instead of HTML response from VulnerableRestEndPoint"
As we are writing the UI and we are solely relying on Ajax calls so we need to update the Endpoint handling which is currently returning HTML

[2020-03-14 18:40] preetkaran20 opened #97 "Enabling Https and Secure cookie for JWT Vulnerability"
Till now Spring boot application is only available in Http but going further we want to enable Https,
incase we want to write some vulnerabilities related to poor SSL etc and Cookie based attacks in JWTVulnerabilities are not secure and hence we were not able to write a secured vulnerablity for JWT.
-> Enabling SSL
-> Http and Https both can exist
-> thinking more in how can a vulnerability choose

[2020-03-14 20:44] preetkaran20 commented on #95
Solved this for JWTVulnerability but need to be fixed for all the others.

[2020-03-15 05:29] preetkaran20 commented on #29
--> Thinking if we have some flag in annotation so that we can distinguish between levels and cookie will help restrict to that level and in our UI we will only show those levels..
think more.

[2020-03-26 08:49] preetkaran20 opened #101 "Adding details to OWASP Website related to this project"
As we are adding our project under Owasp so we are planning to add the details in OWASP website. Under this Jira we want to add the details similar to mentioned in Readme.md.

[2020-03-26 14:34] preetkaran20 opened #104 "In future this project might become heavy weight so we need to think on making it light weight."
Going further in future this project might become very heavy weight so we need to think on making it in such a way that it will be light weight.

[2020-03-26 14:36] preetkaran20 commented on #104
This project needs analysis so please add Wiki on what is your thinking. We can discuss more on that. "Time gives solution to everything"

[2020-03-27 03:50] preetkaran20 commented on #101
Done.

[2020-03-27 03:50] #101 closed

[2020-03-28 19:26] preetkaran20 opened #106 "Lightweight tool"
As vulnerabilities are there with many technologies like SQL and NOSQL DB and various types.
So as the tech increases there can be chances of making tool very bulky so we need to seperate out **PlatForm** from **Vulnerabilities** and also we want to give a easy way to plugin in vulnerabilities related jars into the platform such that say user want to fix Mongo related vulnerabilities then we can p

[2020-04-18 20:17] preetkaran20 opened #113 "Adding checkstyle to vulnerable app"
Adding checkstyle to run in PR and also while building in local so that code is not having unused imports or other kind of code issues.

[2020-04-18 20:19] preetkaran20 opened #114 "Adding Message labels to start with the vulnerability name"
As message file is one and it is not per vulnerability so it is possible that message keys clash so we want vulnerability to be prefix of the message key.

[2020-04-23 21:41] preetkaran20 opened #119 "Giving a way to create a vulnerability without annotation"
**Is your feature request related to a problem? Please describe.**
While working on creating UI for XSS i found that in case of XSS vulnerability there is no need to go to server and expose the endpoint.
can we have a way to expose the vulnerability without Annotation too then that can be helpful in writing UI related bugs.

**Describe the solution you'd like**
Creating some config file too for wr

[2020-05-03 20:21] preetkaran20 opened #122 "Adding this platform to break Encryptions/Weak Ciphers"
**Is your feature request related to a problem? Please describe.**
This platform looks great for writing new vulnerabilities and as i am learning new cryptographic algorithms so i would like to use this platform to test and break various algorithms so wanted to expose it as a platform for my usage

**Describe the solution you'd like**
If this projects works on exposing it like a library/platform w

[2020-05-03 20:23] preetkaran20 commented on #122
Similar to https://github.com/SasanLabs/VulnerableApp/issues/106.

[2020-05-03 20:54] preetkaran20 commented on #95
Done the changes where a vulnerable end point can return JSON to Html or any other type of format depending on Type parameter of VulnerableEndPOint annotation. Hence closing it.

thanks,
Sasan

[2020-05-03 20:54] #95 closed

[2020-05-03 20:55] preetkaran20 commented on #122
https://github.com/SasanLabs/VulnerableApp/issues/27 Can be linked as some parts matches between this Issue.

[2020-05-03 20:58] preetkaran20 commented on #20
This is done with the the new release 1.0.3.
Introduced new annotation called Attackvector which returns the help related data in /allEndPoint and /allEndPointJson

Hence closing this. However platform is capable to doing this but vulnerabilities have not adopted this.

[2020-05-03 20:58] #20 closed

[2020-05-03 21:01] preetkaran20 opened #124 "Adding new Vulnerabilities to fulfill goal for handling 50 new vulnerabilities"
**Is your feature request related to a problem? Please describe.**
Need to add more types of Vulnerabilities as this needs to be fulfilled before 31 july.

**Describe the solution you'd like**
Will start adding new vulnerabilities.

**Describe alternatives you've considered**
Nothing is an alternative. Sasan Hardwork is the Key.

**Additional context**

[2020-05-03 21:06] preetkaran20 commented on #25
Added a new Vanilla CSS and Vanilla JS based framework for adding new vulnerabilities but there are certainly many different things left which needs to be handled like making UI look better, adding about us page and other links and making SPA more better and more reliable to handle lots of UI scripts.

Suggestions on UI are welcomed.

[2020-05-03 21:09] preetkaran20 commented on #46
A lot of things related to this are done in 1.0.3 release. please have a look (JWTVulnerability currently uses cookie input).
we are now allowing cookies/ header based inputs too. we need to work on handling Post calls if absolutely required. we can track those in separate new Issue.

[2020-05-03 21:09] #46 closed

[2020-05-03 21:12] preetkaran20 opened #125 "thinking on handling of Post request based endpoints"
**Is your feature request related to a problem? Please describe.**
For now all the vulnerable app endpoints are based on get request but certainly it might be tougher and going ahead we need to enable post based endpoints too.
This task is to analyse and think on handling post Request.

**Describe the solution you'd like**
Nothing in mind yet but need to think alot.

**Describe alternatives you've

[2020-05-04 22:11] preetkaran20 opened #130 "Adding Scoring system/Reporting system for Scanners"
**Is your feature request related to a problem? Please describe.**
As Scoring is one of the major task which is needed by the Vulnerable App for rating various scanners so we need a way to add/report the scores of Scanners.

**Describe the solution you'd like**
Say this tool is going well and now scanner like to rate themselves on how much percentage of vulnerabilities are covered by them then we

[2020-05-06 17:32] preetkaran20 commented on #48
Deleted whole code related to Mongo for now. Need to add again during replatform.

[2020-05-06 17:32] #48 closed

[2020-05-08 23:39] preetkaran20 opened #132 "Adding Login CSRF"
**Is your feature request related to a problem? Please describe.**
New vulnerability request is to add Login CSRF to this Project. It will be good for our project.

**Describe the solution you'd like**
Same as how we have XSS, we need to add Login CSRF

**Describe alternatives you've considered**
Nothing. New Feature Request.

**Additional context**
Please add.

[2020-06-02 21:20] preetkaran20 opened #137 "Design has race condition issue"
**Describe the bug**
Currently design is that we are passing ParameterBean as class instances hence it is causing multi threading issues which can be easily seen if we run ZAP fuzzer as answers are not correct everytime. This is observed in JWTVulnerability.

**Expected behavior**
Answers should always be certain from the Application and it should not have race condition issue.

**Additional conte

[2020-06-02 21:50] preetkaran20 commented on #137
Part one for the fix: https://github.com/SasanLabs/VulnerableApp/pull/138

[2020-06-03 20:27] preetkaran20 commented on #137
https://github.com/SasanLabs/VulnerableApp/pull/138 Complete fix

[2020-06-03 20:27] preetkaran20 commented on #137
Done.

[2020-06-03 20:27] #137 closed

[2020-06-05 19:57] preetkaran20 opened #140 "Add data uri based xss attack"
**Is your feature request related to a problem? Please describe.**
Adding Data uri based xss e.g. data:text/html,<script>alert('hi');</script>

**Describe the solution you'd like**
As XSS vulnerability is already there. it would be great if we add dataUri there too.

**Describe alternatives you've considered**
Nothing

**Additional context**
Waheguru !!! Satnaam

[2020-06-05 20:09] preetkaran20 commented on #140
More information about data uri's:
https://blog.teamtreehouse.com/using-data-uris-speed-website#:~:text=What%20Is%20a%20Data%20URI,and%20construct%20the%20original%20file.

[2020-06-05 20:12] preetkaran20 commented on #132
Add data uri based attack too that doesn't include the referrer header.

[2020-06-07 18:45] preetkaran20 commented on #140
Added one data uri encoding based attack in HtmltagBased injection.

[2020-06-07 18:45] preetkaran20 commented on #125
Added some code which handles Body provided also. Need to test it whether we require this or not.

[2020-06-07 19:38] preetkaran20 commented on #28
done in PR: https://github.com/SasanLabs/VulnerableApp/pull/143

[2020-06-07 19:38] #28 closed

[2020-06-07 20:11] preetkaran20 commented on #130
My perspective on this:
so as we have list of endpoints which are vulnerable, we know the attack vectors for the vulnerability and we also know the Vulnerability type so now lets support @zaproxy gave us a list of endpoints which it thinks that they are vulnerable and what is the vulnerability type in them and now i can tell the percentage of covered vulnerabilities and what ever is not covered, i

[2020-06-07 20:46] preetkaran20 commented on #130
1st commit related to Reporting System: https://github.com/SasanLabs/VulnerableApp/pull/145
Will update this PR with more information.

[2020-06-08 09:10] psiinon commented on #130
I wouldnt try to analyse reports from scanners - that could be too much work for you. If you just provide a simple way of describing the vulnerabilities then scanner authors can consume that - less work for you and mapping your results to each scanner will be the responsibility of the scanner authors.
Kind of info that you could provide:
[code]

[2020-06-09 16:33] preetkaran20 commented on #130
@psiinon  I didn't got your point completely.
As currently vulnerableApp provides this information that what is the vulnerability type, what is the URL etc. Now say i am a scanner author, how should i use it?  can you please elaborate more on the usecase.

[2020-06-10 10:47] psiinon commented on #130
I want to configure ZAP to automatically run against apps like VulnerableApp.
For that I'll need to:

1. Start ZAP and the target app
1. Spider then active scan the app
1. Score - work out which of the ZAP alerts are right, and work out the FPs and FNs
1. Stop ZAP and the target app
1. Report any changes in the results

Scoring is the hard part.
Heres my script for scoring vs wavsep https://github

[2020-06-11 13:37] preetkaran20 commented on #130
Hi @psiinon ,

Thanks for wonderful explanation, I got the way you are looking at this. Currently VulnerableApp gives the information about the
1. Vulnerable Endpoint
2. Vulnerability Type
3. Input Parameter related information (Is somewhat not written with machine readable format, it is made human understandable but can be done easily).

However the part of telling the Scanner that it has succeed

[2020-06-15 20:31] preetkaran20 commented on #119
DOM based XSS makes it more relevant.

[2020-06-26 22:47] preetkaran20 opened #147 "Adding support for Vulnerability SubType."
**Is your feature request related to a problem? Please describe.**
Currently we have broad Vulnerability Types like SQL_INJECTION, XSS but we know these are further subdivided into multiple categories like ErrorBasedSQLInjection or UnionBasedSQLInjection or XSS_Reflected etc and if we can give a way to know the exact vulnerability type then it would be great for the Scanner or Students where they

[2020-06-26 22:48] preetkaran20 commented on #130
This has one important step as https://github.com/SasanLabs/VulnerableApp/issues/147

[2020-06-28 01:17] preetkaran20 opened #148 "Adding Support for SQL injection"
**Describe the bug**
Please add the support of SQL Injection too.

[2020-06-28 01:17] preetkaran20 commented on #148
PR: https://github.com/SasanLabs/VulnerableApp/pull/146

[2020-06-28 12:07] preetkaran20 commented on #148
Closing this because added basic 3-4 attacks in SQL Injection. Will add more variant later. for now i think it is ok.

[2020-06-28 12:07] #148 closed

[2020-07-06 20:29] thapar101113021 opened #150 "asdad"
sdasda @preetkaran20

[2020-07-06 20:29] #150 closed

[2020-07-06 20:31] thapar101113021 opened #151 "$Vulnerability_Missed$"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2020-07-06 20:33] preetkaran20 commented on #151
This was a test issue. Closing.

Thanks,
Karan

[2020-07-06 20:33] #151 closed

[2020-07-13 21:15] preetkaran20 commented on #130
Framework changes for adding ParameterName, SampleValues and Request Location :
https://github.com/SasanLabs/VulnerableApp/pull/153

[2020-07-17 10:07] preetkaran20 commented on #130
Hi @psiinon ,

Following will be the sample response from the VulnerableApp:
[code]

Here `Sample Values` will be useful for the scanners which depend on the original request input like JWT Scanner which takes the JWT token from the Cookie or Header etc and then change that value (Something which we refer as original message in ZAP).

Along with this i have also exposed a new endpoint which return

[2020-07-19 12:46] preetkaran20 opened #155 "Persistent XSS and DOM based XSS"
**Is your feature request related to a problem? Please describe.**
Currently we have added XSS but that is only the usecase of Reflected XSS but there is no Persistent XSS or DOM based XSS. it would be better if we add that.
**Describe the solution you'd like**
As we have already integrated DB so we just need to create a Table and add UI for something like a Feedback form. Generic usecase of Persi

[2020-07-19 12:56] preetkaran20 commented on #147
Fixed this issue with PR: https://github.com/SasanLabs/VulnerableApp/pull/154

[2020-07-19 12:56] #147 closed

[2020-07-19 13:05] preetkaran20 commented on #130
Added more changes related to it https://github.com/SasanLabs/VulnerableApp/pull/154

[2020-07-20 05:31] preetkaran20 commented on #130
https://github.com/SasanLabs/VulnerableApp#how-can-vulnerability-scanning-tools-use-vulnerableapp-

[2020-07-20 07:54] psiinon commented on #130
That looks great! You might want to replace the IP addr with a token or standard value as that will be different a lot of the time, but other than that it looks great! Will you have a documented set of locations and vulnerability types? Once this is in place I'll do my best to implement a ZAP mapping :) That could be included in this repo or one of ours, I dont mind which. It would make teating ZA

[2020-07-20 08:16] preetkaran20 commented on #130
Hi @psiinon,

All these URL are dynamically generated hence IP addr will be of the machine in which this app is running and i think then it will not be an issue. we can change into some token but then at ZAP end we need to correct it. Please suggest
Classes containing the List of Locations and vulnerability types:
Locations: https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/

[2020-07-20 08:38] psiinon commented on #130
Ah! - if its dynamically generated then thats even better :)
Those definitions look fine - you might want to include an endpoint which returns them?

[2020-07-20 09:05] preetkaran20 commented on #130
hmm ... sure, Need to evaluate whether to include in the same scanner endpoint or different endpoints. Both have pros and cons, where scanner endpoint can be one stop solution but might make the response cluttered. What is your take on this.

[2020-07-21 20:29] preetkaran20 commented on #130
Hi @psiinon,

I have introduced a new endpoint called '/scanner/metadata' which will provide the information about vulnerability types and locations.

e.g.
[code]
PR: https://github.com/SasanLabs/VulnerableApp/pull/157
Currently i am assuming that the names of the vulnerabilities are self explanatory and mostly standard names so didn't added the bean with description. Will do that if required in f

[2020-07-22 07:50] psiinon commented on #130
This is looking awesome!
Out of interest have you run ZAP against it? We're aiming to do that asap in any case, but just wondered if you already have some results you could share...

[2020-07-22 13:56] preetkaran20 commented on #130
Hi @psiinon ,

I had ran ZAP against vulnerableapp  and using sitemap.xml ZAP was able to find many vulnerabilities however as this new endpoint "/scanner" is not being used by ZAP as we have not written code to understand it hence some vulnerabilities it is not able to find.

thanks,
Karan

[2020-07-23 05:11] preetkaran20 commented on #130
Hi @psiinon,

I was thinking how in ZAP side we can use the VulnerableApp, so i was thinking a Simple Python/JS script can be written which reads the /scanner api response (https://github.com/SasanLabs/VulnerableApp/issues/130#issuecomment-662089906) and then the script fires some requests and then it starts Active Scanner which finds the vulnerabilities and then then this script will evaluate it.

[2020-07-23 08:13] psiinon commented on #130
Hiya @preetkaran20

We used to scan both wivet and wavsep automatically. The results are all public on http://zapbot.github.io/zap-mgmt-scripts/scans.html
They were running on Mozilla AWS VMs and broke sometime ago. However we are in the process of fixing them - I uploaded the latest wavsep scan manually.
For wavsep I am creating a github workflow which:

1. Starts wavsep in a docker container
1.

[2020-07-23 08:47] preetkaran20 commented on #130
Hi @psiinon ,

Yes this makes sense, i am ok with infra however i think only spidering and running active scanner might not give all the results reason being say an Api expects JWT token as input  and hence spidering and active scanner doesn't know about it so the original message might not have that JWT token and hence cannot result in finding issues. Can we though as application expects `say a p

[2020-07-23 20:08] #113 closed

[2020-07-23 20:08] preetkaran20 commented on #113
added SpotlessApply hence closing this issue

[2020-07-23 20:10] #25 closed

[2020-07-24 14:42] preetkaran20 commented on #130
Closing this and tracking Integration with ZAP in another Enhancement.

thanks,
Karan

[2020-07-24 14:42] #130 closed

[2020-07-24 14:45] preetkaran20 opened #158 "Integration with Owasp ZAP"
**Is your feature request related to a problem? Please describe.**
https://github.com/SasanLabs/VulnerableApp/issues/130 in this feature we have added all the required things/changes to Vulnerable App for Integration. Now we are tracking this integration using this Feature.
Need to followup with @psiinon for this feature.

[2020-07-26 10:58] preetkaran20 opened #160 "Path Traversal Vulnerability"
Add Path traversal Vulnerability

[2020-07-26 10:59] preetkaran20 commented on #160
Added Path Traversal Vulnerability in PR:https://github.com/SasanLabs/VulnerableApp/pull/159

it also contains Null Byte based Path Traversal Vulnerability.

[2020-07-26 10:59] #160 closed

[2020-07-28 20:47] preetkaran20 opened #162 "Case insensitive checks for URL encoding i.e. %2E is only checked in Path Traversal not %2e as both can work."
**Describe the bug**
As URL Encoding can work with any case hence we can either add 2-3 more levels in Path Traversal.
Path traversal assumes that case is always caps which is not right.

**To Reproduce**
Just change the case for the attackvector.

Need to handle both the cases else the vulnerability is incomplete.

[2020-07-28 20:51] preetkaran20 opened #163 "Attack vectors are missing in many levels because of CURL complexity"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to mention small payload as attack vector and we can only add CURL request which is not easy to get when majority of developers are working with browsers so for now we can make Framework changes such that it can take simple payload.

**Describe the solution you'd like**
As Level already contains the inform

[2020-07-28 21:04] preetkaran20 commented on #162
Added this in https://github.com/SasanLabs/VulnerableApp/pull/161/files

[2020-07-28 21:08] preetkaran20 commented on #124
By including https://github.com/SasanLabs/VulnerableApp/pull/161/files PR we will be able to achieve Backend 50 Vulnerabilities.
However not very confident on URL Redirection and RFI. Need to look again at these vulnerabilities.
UI for Command Injection, URL redirection and RFI need to be written.

[2020-08-01 20:46] #162 closed

[2020-08-03 18:31] bkimminich opened #164 "Scanner Endpoint ❤️ vuln.json"
Hi! I really like your idea of having a kind of manifest of contained vulns in the application. There was actually an attempt to define a "standard" for this driven by https://github.com/OWASP/OWASP-VWAD in 2018 with @psiinon and others but it was dropped due to lack of interest/time/adoption rate/... at some point.

I dug up the artifacts of the `__vulns.json` proposal from the repo:
* Schema: ht

[2020-08-03 20:06] preetkaran20 commented on #164
Hi @bkimminich,

I think the idea of having well known vulnerability identifiers (OWASP- or CWE- etc) is amazing and that helps in reducing the mapping of arbitrary keys between systems like ZAP and VulnerableApp/Juice Shop.

Regarding not exposing this information using an endpoint, i think `/scanner` endpoint only exposes the parameter name, its location in request, the vulnerability types and s

[2020-08-03 21:01] bkimminich commented on #164
If I understand you correctly, then the goal of `/scanner` is to help scanners to use the right active scanning method or payload, whereas `__vuln.json` was meant more for helping to check for false positives and false negatives after the scan, by crawling the report for certain "flags" that would indicate if a vuln was found or missed. Assuming a vuln app specifies all its (realistically detectab

[2020-08-04 09:02] preetkaran20 commented on #164
Hi @bkimminich ,

Oh, got your point.
Yes you are right this is helpful for scanners to use the right active scanning method, payload format etc but this information can also be useful for scanners to find false positives/negatives etc as `/scanner` endpoint provides the information about the vulnerability exposed from the endpoint hence if Alerts from ZAP/Burp are for the same vulnerability from

[2020-08-05 18:44] preetkaran20 commented on #158
https://github.com/zapbot/zap-mgmt-scripts/issues/31

[2020-08-05 19:43] preetkaran20 opened #165 "Moving Build.gradle from deprecated compile to Implementation"
**Describe the bug**
This is a techdebt task where we want to change build.gradle from compile to implementation

[2020-08-05 21:55] preetkaran20 opened #167 "VulnerableApp.js makes call to the Vulnerablility Level URL before the click on level"
**Describe the bug**
As i am writing persistent XSS the practise vulnerability calls the VulnerableEndpoint even before the click of Practise vulnerability which is not a correct behavior. I understand that Level 1 should be invoked but we need to correct VulnerableApp.js to invoke the level1 url only Practise vulnerablity is clicked.

[2020-08-05 21:57] preetkaran20 commented on #21
PR: https://github.com/SasanLabs/VulnerableApp/pull/166 is added for Persistent XSS.
After we are done with this we can close this Issue because for DOM based XSS we need to make framework changes.

[2020-08-05 21:58] preetkaran20 commented on #24
Command Injection is added to the VUlnerable App in https://github.com/SasanLabs/VulnerableApp/pull/161 hence closing this Issue.

[2020-08-05 21:58] #24 closed

[2020-08-05 22:00] preetkaran20 commented on #29
Add robust mechanism for Gamification to vulnerableApp which is helpful for expanding the App.

Think more from Framework prespective.

[2020-08-05 22:02] preetkaran20 commented on #32
Closing this as this is not required now.

[2020-08-05 22:02] #32 closed

[2020-08-05 22:04] preetkaran20 commented on #155
this is linked to https://github.com/SasanLabs/VulnerableApp/issues/21. Closing the other issue.

[2020-08-05 22:04] preetkaran20 commented on #21
Closing this because similar issue is raised again.

[2020-08-05 22:04] #21 closed

[2020-08-05 22:04] preetkaran20 commented on #155
PR: #166 is added for Persistent XSS.

[2020-08-05 22:06] preetkaran20 opened #168 "Adding Sample Values to JWT Vulnerability"
JWT vulnerability is missing Sample Values. This is very important for ZAP integration. Need to fix this.
Related to  https://github.com/SasanLabs/VulnerableApp/issues/158

[2020-08-08 08:22] preetkaran20 commented on #155
Persistent XSS is done. Dom based XSS need to be done.

[2020-08-08 08:24] preetkaran20 commented on #155
DOM based XSS is dependent on https://github.com/SasanLabs/VulnerableApp/issues/119

[2020-08-08 08:33] preetkaran20 commented on #164
Hi @bkimminich ,

I am thinking of adding CWE identifier along with custom vulnerability identifiers. Also please let me know if you have some other suggestions related to `/scanner` endpoint.

thanks,
Karan

[2020-08-08 08:52] bkimminich commented on #164
CWE would be as cool to have for your /scanner as for my vuln.json approach, sure!

[2020-08-08 09:05] #164 closed

[2020-08-08 13:07] preetkaran20 opened #169 "Adding CVE to the vulnerability types"
As suggested by @bkimminich for including the CVE to the vulnerabilities for better collaboration across system so this Feature is to analyse the suggestion and implement it.

for more information: https://github.com/SasanLabs/VulnerableApp/issues/164

thanks,
Karan

[2020-08-08 13:08] preetkaran20 commented on #169
1. Analysis on how CVE suits our usecase
2. Can we add CVE to AttackVector instead of VulnerabileEndpoint annotation ?

[2020-08-08 15:00] preetkaran20 commented on #168
https://github.com/SasanLabs/VulnerableApp/pull/171 done.

[2020-08-08 15:00] #168 closed

[2020-08-09 19:09] preetkaran20 commented on #124
This is already completed hence closing this.

[2020-08-09 19:09] #124 closed

[2020-08-09 19:19] preetkaran20 opened #172 "Add new Vulnerabilities to fulfil goal for handling 100 vulnerabilities"
**Is your feature request related to a problem? Please describe.**
There are many new vulnerabilities which need to be included like:
1. Unrestricted File Upload
2. XXE
3. XSLT

There vulnerabilities need to be thought through because this requires handling of sessions which is quite tricky for vulnerableApp. Many be this need a better thinking.
1. Source Code Disclosure - /WEB-INF
2. CSRF attack

[2020-08-09 19:22] preetkaran20 opened #173 "Handling Session related vulnerabilities"
for now we have supported standalone vulnerabilities but when it comes to vulnerabilities like Session fixation, CSRF etc we need to think more on how can we introduce them in vulnerableApp.

Any Suggestion will be great.

this should also consider @zaproxy also in this so that ZAP can work out of box.

[2020-08-09 19:23] preetkaran20 commented on #172
For handling 2nd part: https://github.com/SasanLabs/VulnerableApp/issues/173

[2020-08-09 19:23] preetkaran20 commented on #172
Need to handle first part i.e. Unrestricted File Upload, XXE, XSLT faster.

[2020-08-11 21:02] preetkaran20 commented on #172
XXE -> Example can be used is of Email template or say workflow design or something like that.
Actually because we have designed VulnApp in a way where one Api call and that is entirely vulnerable so designing all vulnerabilities in that is tough. Need to think on on this.

[2020-08-11 21:04] preetkaran20 commented on #172
XSLT -> https://www.w3schools.com/xml/tryxslt.asp?xmlfile=cdcatalog&xsltfile=cdcatalog i think can serve as an example.

[2020-08-14 10:17] preetkaran20 opened #174 "Learning from other Applications [Analysis]"
As @psiinon has mentioned in a tweet about the vulnerable applications which are targeting scanners:

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Not that many. The ones I know of are:<br>- <a href="https://t.co/cduavcFRYO">https://t.co/cduavcFRYO</a><br>- <a href="https://t.co/d5DVDYl2ag">https://t.co/d5DVDYl2ag</a><br>- <a href="https://t.co/QMIL906Qxa">https://t.co/QMIL906Qxa</a> *

[2020-08-15 22:35] preetkaran20 commented on #158
https://github.com/zapbot/zap-mgmt-scripts/pull/32

[2020-08-16 06:40] preetkaran20 commented on #172
XXE can be added something like register functionality.
XSLT can be to fetch the registered users and showing in the format exposed using XSLT (May be fields etc)

[2020-08-16 14:20] preetkaran20 opened #175 "Remove com.lmax:disruptor"
**Describe the bug**
As we are not using Async Appender and even if we are using, there is no requirement for using it so we can remove com.lmax:disruptor dependency from pom and build.gradle.

**Expected behavior**
Webapplication should be light weight and the dependencies not required should be removed.

**Additional context**
You can also help us find any other such dependency which we can remo

[2020-08-16 21:24] preetkaran20 opened #176 "[📜] Analysis of limitations in current vulnerability definition design"
**Is your feature request related to a problem? Please describe.**
Current design for vulnerability definition has certain limitations:
1. There is no way to mention image as Sample Values or any other type as sample values hence vulnerabilities like File Upload are difficult to express in the same.
2. Annotations makes it quite complex because of static values. Need to think more on any other way

[2020-08-16 21:27] preetkaran20 commented on #26
closing because of less context.

[2020-08-16 21:27] #26 closed

[2020-08-17 06:41] preetkaran20 commented on #172
File upload:
1. Upload a JS file can be used for XSS if possible.
2. if we name file as something like "../../../something.jsp" and if it does place it in correct place then jsp can be executed and can be quite harmful and we can steal or control anything.
3. Replacing any existing JS file can be dangerous and impacts customer experience.

Read this tutorial: https://www.youtube.com/watch?v=CmF9sE

[2020-08-17 22:30] preetkaran20 opened #177 "Deprecated VulnerableServiceRestEndPoint and move to some custom meta annotation based on SpringBoot RestController"
**Is your feature request related to a problem? Please describe.**
Current design has flaws reason is VulnerableServiceRestEndPoint is somewhat not called by Spring and hence @sasanlabs has created its own framework for calling classes which are annotated with VulnerableServiceRestEndPoint endpoint and it is not scaling much reason being then classes annotated with VulnerableServiceRestEndPoint do

[2020-08-17 22:31] preetkaran20 commented on #176
https://github.com/SasanLabs/VulnerableApp/issues/177

[2020-08-17 22:31] preetkaran20 commented on #172
https://github.com/SasanLabs/VulnerableApp/issues/177 for handling File Upload.

[2020-08-17 22:32] preetkaran20 commented on #125
Because of https://github.com/SasanLabs/VulnerableApp/issues/177 i think we get rid of this issue. Hence closing it for now.

[2020-08-17 22:32] #125 closed

[2020-08-18 22:05] preetkaran20 commented on #177
https://github.com/SasanLabs/VulnerableApp/pull/178

[2020-08-20 09:06] preetkaran20 opened #179 "Adding Integration with Karate or any other API Integration tool"
**Is your feature request related to a problem? Please describe.**
When ever we do framework changes it becomes very tough to know if something is not working. It would be great if we can add the API Integration tool like Karate or any other way to reduce the regression testing effort.

**Describe the solution you'd like**
Add Karate and run it as a GitHub actions so that with Every PR it will run

[2020-08-21 14:57] preetkaran20 opened #182 "Creating Framework wiki and also contributing guidelines"
**Is your feature request related to a problem? Please describe.**
As the usage of VulnerableApp increase, we need to setup the guidelines and also wiki page describing the design.

[2020-08-23 07:18] preetkaran20 opened #184 "[Don't Pick] Adding Swagger/OpenApi for all the Api's"
**Is your feature request related to a problem? Please describe.**
I was under impression that Owasp doesn't understand OpenApi and may be it requires a Api definition but after reading https://www.zaproxy.org/blog/2017-06-19-scanning-apis-with-zap/ article by @psiinon i think ZAP understands it so scanner endpoint can be moved to OpenApi and make our custom annotations light weight.

**Describe t

[2020-08-23 12:38] preetkaran20 opened #185 "User Interface Improvements [Analysis]"
**Is your feature request related to a problem? Please describe.**
VulnerableApp's UserInterface is having some alignment issues and also cannot scale as we increase the vulnerability types.
Some idea's are like adding Left Nav bars for Vulnerability types and another for Levels.

This task is to collect the feedbacks, issues in UI and other design consideration

**_Feedbacks are welcome_**

[2020-08-23 12:41] preetkaran20 opened #186 "Implementation of UI Task"
**Is your feature request related to a problem? Please describe.**
After we got the analysis for the task https://github.com/SasanLabs/VulnerableApp/issues/185, this task is the implementation task.

[2020-08-23 17:34] #175 closed

[2020-08-23 17:50] preetkaran20 opened #189 "Removing Pom.xml"
**Is your feature request related to a problem? Please describe.**
As we need to maintain both pom.xml and build.gradle hence it is tough. so we are thinking that we can remove pom.xml.
With the removal of pom.xml we also need to take care of any documentation reference and also need to add that to release notes or any other places it is referenced.

[2020-08-23 17:56] hemantgs commented on #185
Might I suggest

- Introducing a Table view ,with filters that shows vulnerabilities and clicking on them shows the levels

- Decouple UI from the backend maybe ? Use yarn or tools like that to serve static content

[2020-08-23 18:15] preetkaran20 commented on #185
can you please add some sample screen explaining your suggestion.

hmm actually i had added static content in application with the reason that the contributors need not to setup 2 things to make it work. i.e. Yarn and backend and that might make difficult for them.
However yes we should move to yarn etc and actually each tech has some or the other vulnerabilities so we need to think of onboarding

[2020-08-23 18:18] preetkaran20 opened #190 "Analysing new UI Frameworks like React/Angular etc and there vulnerabilities."
**Is your feature request related to a problem? Please describe.**
As new frameworks are coming into the market so we need to analyse there vulnerabilities too into our application. Also we need to make sure that our project remains light.

[2020-08-23 18:18] preetkaran20 commented on #185
https://github.com/SasanLabs/VulnerableApp/issues/190

[2020-08-23 18:20] preetkaran20 commented on #190
https://github.com/SasanLabs/VulnerableApp/issues/119 this also needs to be considered.

[2020-08-23 18:20] preetkaran20 commented on #119
https://github.com/SasanLabs/VulnerableApp/issues/185

[2020-08-23 18:21] preetkaran20 commented on #190
https://github.com/SasanLabs/VulnerableApp/issues/185

[2020-08-24 07:02] preetkaran20 commented on #182
Also add those to github.io pages.

[2020-08-24 08:32] hemantgs commented on #185
![image.png](https://user-images.githubusercontent.com/13389954/91022115-56e6fd80-e612-11ea-8b70-9a24c90bf76b.png)
I was thinking something like this maybe

And I see, that makes sense to keep a simple ux overall

[2020-08-24 20:16] preetkaran20 commented on #185
HI @hemantgs ,

I was thinking something like
![image](https://user-images.githubusercontent.com/13570884/91091719-a3fbbb80-e674-11ea-9cf2-849c5ce54b79.png)
where we have master-detail structure. Master being Vulnerability, 2nd master is level and detail is the actual vulnerability.

Currently it is similar however master is not scrollable, neither 2nd master. WDTY ?

thanks,
Karan

[2020-08-25 16:07] hemantgs commented on #185
This looks good too .. Can think about enriching it bit more , should be good for starters

[2020-08-25 17:42] preetkaran20 commented on #185
we can think more on this and look at other applications too.

[2020-08-26 04:43] preetkaran20 opened #191 "Localizing the Messages"
**Is your feature request related to a problem? Please describe.**
As VulnerableApp is currently not localised and all the messages are in English. This task is to localize the messages.
https://gitlocalize.com/repo/5241
This Task is not just to localise but it can be extended to better repo structure for localization etc.

I was looking at gitlocalize https://gitlocalize.com/repo/5241. you can go

[2020-08-26 08:13] preetkaran20 commented on #191
https://github.com/SasanLabs/VulnerableApp/pull/192

[2020-08-26 10:34] preetkaran20 commented on #191
@hemantgs if we can give linked in the parent readme to documents with the localization then it would be great. also if we can correct the english mistakes if present that would be good.

[2020-08-26 10:35] preetkaran20 commented on #191
https://sasanlabs.github.io/VulnerableApp/

[2020-08-26 13:55] preetkaran20 commented on #191
we need to correct the links to how to use guide and its translations too.

[2020-08-27 14:09] preetkaran20 commented on #191
@hemantgs i have done some change by moving documentations into respective places.

[2020-08-27 14:38] hemantgs commented on #191
Cool,
I was trying to build a proper docs page along with this ,
Please open a PR and merge the changes that you have doen

[2020-08-27 14:42] preetkaran20 commented on #191
oh .. great... actually i just moved read me to respective folders as suggested by you. I think you can go ahead with your changes and i have merged the changes and i think those changes will not impact your changes.

please have a look at below folder:
https://github.com/SasanLabs/VulnerableApp/tree/master/docs/i18n

[2020-08-27 14:44] preetkaran20 commented on #191
Sorry for the inconvenience. I will not do any further changes to the documentation. please proceed with your changes.

[2020-08-27 14:55] hemantgs commented on #191
Oh no issues at all , not to worry
I'll give a PR once I'm ready

[2020-08-30 12:43] preetkaran20 opened #198 "Creating Generic UI templates"
**Is your feature request related to a problem? Please describe.**
Currently writing vulnerability becomes tough because of Css and Js alignment issues causing tough for backend developers. This Issue is to check, analyse the feasibility for the same and then giving some basic templates.
This Feature can be further subdivided into 2 one for analysis and one for implementation.

**Describe the solu

[2020-08-30 12:44] preetkaran20 commented on #198
Also change the website of vulnerable app by writing the documentation.

[2020-08-31 17:06] hemantgs opened #199 "Language agnostic vulnerability addition"
**Is your feature request related to a problem? Please describe.**
Someone wanting to introduce a new vulnerability have to open up the code and add the desired vulnerability add the annotations then run it, someone unfamiliar with Java might find that difficult

**Describe the solution you'd like**
A way to `register` a certain vulnerability , it could be via an API , a `/POST` or a `/PUT `with f

[2020-08-31 17:21] hemantgs opened #200 "Pressing back button from one of the pages in the UI exits the page instead of going one page back"
**Describe the bug**
back button exits the page in the UI

**To Reproduce**

1. Open UI
2. Click Learn Security
3. Click Back button in browser
4. Browser exits the webpage and goes to the website that was open before this

**Expected behavior**
Back button should go back to the home page of VulnerableApp

[2020-09-01 01:24] preetkaran20 commented on #200
For background of the issues:
UI is designed in a way that it comprise of bunch of Div's and once a button is clicked one div is marked as hidden (using Css) and others divs are visible.

to solve this issue i think we need to change the histories of the window such that when backbutton is clicked the history is popped out to addess this issue.

thanks,
Karan

[2020-09-01 01:28] preetkaran20 commented on #199
@hemantgs great idea. Need to evaluate it.
Similar idea's :
1. https://github.com/SasanLabs/VulnerableApp/issues/119
2. https://github.com/SasanLabs/VulnerableApp/issues/106
3. https://github.com/SasanLabs/VulnerableApp/issues/176

[2020-09-01 01:33] preetkaran20 commented on #199
Notes:
I think ZAP is written in java but uses Jython (For Python) and Nashorn (GraalVM) (For Javascript) for executing both the languages under same platform. we can utilize those too.

[2020-09-06 15:29] preetkaran20 commented on #172
Unrestricted File Upload is done.

[2020-09-06 15:56] preetkaran20 commented on #172
As we are having **RFI** and **Unvalidated Redirects** which we have not added completely so instead of handling XXE and XSLT i will start working on adding those.

[2020-09-06 15:58] preetkaran20 commented on #172
https://github.com/SasanLabs/VulnerableApp/issues/23

[2020-09-11 01:06] preetkaran20 opened #202 "Docker image for VulnerableApp is heavy ~100MB"
**Describe the bug**
Docker image is 107 MB which is quite big in comparison to other VulnerableApplication. This enhancement is to find what is causing this issue. Lets work on reducing this.

[2020-09-13 01:05] preetkaran20 commented on #202
Looking at this, it seems like docker base image is heavy and then springboot is adding to it but as we are updating entire jar which is not good because everytime someone pulls image they need to again pull all the same springboot dependencies.
How about adding springboot and then add the code to it so that springboot layer need not to be pulled everytime we release a new version.

[2020-09-13 05:24] hemantgs commented on #202
One optimization I can think of right away is moving to `8-jre-alpine` from `8-jdk-alpine` , the image does not need jdk and all that overhead , so that is one option

Do you mean to say burning the .gradle or .m2 file into the base image and build and COPY the thin jar alone and not the fat jar ?

We can also think of
https://github.com/GoogleContainerTools/jib?spm=a2c65.11461447.0.0.4c817ecchhAX

[2020-09-13 06:22] preetkaran20 commented on #202
Great 👍

Exactly

Sure will go through it.

[2020-09-13 07:28] preetkaran20 commented on #202
@hemantgs Jib is amazing, i read about it and also published one Jib image and it has reduced something close to 20MB

[2020-09-13 07:30] hemantgs commented on #202
@preetkaran20 cool 😎
Jib has spring boot gradle integration , if it fits the bill we can modify the build script to automatically push the image to docker-hub

[2020-09-13 07:32] preetkaran20 commented on #202
yes we already have that setup. we have written a github action for pushing images. I need to check how can jib use the credentials from Git Repo. Will do that setup.
Our image it still 89MB is which is still big. What do you think shall we open this and wait for some time if we get some other idea ?

[2020-09-13 07:35] preetkaran20 commented on #202
One issue however we are using bash and Jib has not included `bash`. Need to work on it.

[2020-09-13 10:04] preetkaran20 commented on #202
Hi @hemantgs ,

I have integrated as per your suggestions like 1. Alpine Jre jar 2. Jib Integration and i think this is working fine.
https://github.com/SasanLabs/VulnerableApp/blob/master/.github/workflows/docker.yml
and some other changes.

Now the image size is 94 MB which is 15 MB lesser than the original. Now the left task is to just track if we can reduce further.

thanks,
Karan

[2020-09-13 10:11] preetkaran20 commented on #202
Multiple layers are added:
![image](https://user-images.githubusercontent.com/13570884/93015475-78b31f00-f5d7-11ea-959c-2971715da123.png)

Now we are looking if we can reduce the dependencies because we are not using everything so if we can remove all those extra dependencies.

[2020-09-13 12:17] hemantgs commented on #202
@preetkaran20 A spring boot java image at ~100 MB is reasonably good I feel ,
Are other apps Java based ?

[2020-09-13 12:26] preetkaran20 commented on #202
Agreed, 95 MB is great for SpringBoot application and i think there are less java based Applications but i always think Springboot has added so many dependencies which are not used by us and considering one time download for the users and then it will be layered Filesystem pull i think we can live with 95 MB.

WDYT ? shall we close this or shall we look at build.gradle to remove some of the wrongl

[2020-09-13 13:59] hemantgs commented on #202
@preetkaran20
I had a look at the build.gradle and felt like it is already very minimal , just that spring-boot-starters bring in a bunch of other dependencies , If we started looking for things to exclude from the starters something might break..
IMHO we could close this , as like you said we could keep adding layers , for end user it might not be much of a hassle..We could close this

[2020-09-13 14:05] preetkaran20 commented on #202
closing it as per the discussion.

[2020-09-13 14:05] #202 closed

[2020-09-19 09:58] preetkaran20 commented on #172
URL redirection -> With Ajax calls is quite tough.
We can add the client side url redirection but server side requires UI Framework changes. Need to think more on it.

[2020-09-20 02:47] preetkaran20 opened #206 "Add XXE related attacks"
**Is your feature request related to a problem? Please describe.**
This is a subtask for https://github.com/SasanLabs/VulnerableApp/issues/172 where we are looking to add XXE related attacks.

**Describe the solution you'd like**
I am planning to create some form where XML is provided from browser and then the same XML is parsed and stored in DB and then the passed XML is returned from the server

[2020-10-02 04:58] hemantgs commented on #199
So I was thinking a little bit on this , to start with we can provide better extensibility for java by supporting loading vulnerabilities from an external jar ..
So say a user starts our docker container with a `--external` flag pointing to location of a jar that has custom vulnerabilities that follow a a template that we define possibly with an annotation ..
The app should expose whatever is cont

[2020-10-02 11:12] preetkaran20 opened #209 "Writing How to Pwned VulnerableApp"
**Is your feature request related to a problem? Please describe.**
As we have Owasp JuiceShop having how i pwned the juice shop similarly it is better if we have similar documentation website. I agree that VulnerableApp is not build with an intent to target humans but in case some Scanner wanted to know how this vulnerability level can be covered or as our User Interface is also build which helps

[2020-10-02 11:14] preetkaran20 commented on #167
I think this is expected behavior and only happens in case of persistence XSS so marking it as not a bug.

thanks,
Karan

[2020-10-02 11:14] #167 closed

[2020-10-02 11:14] preetkaran20 commented on #209
Related issue:
https://github.com/SasanLabs/VulnerableApp/issues/163

[2020-10-02 11:22] preetkaran20 opened #210 "Evaluating Licence file on all the files"
**Is your feature request related to a problem? Please describe.**
I have seen open source projects add the licence files about there classes/code so we can do the same with VulnerableApp to.
There are certainly some queries:
1. Why licence files are added ?
2. do we require to add on the files ?
3. Are there any complications and better if we can integrate with some plugin which will run and add

[2020-10-02 11:25] preetkaran20 opened #211 "Changing all the field level injections to constructor injection."
**Is your feature request related to a problem? Please describe.**
This is a tech debt. https://blog.marcnuri.com/field-injection-is-not-recommended/
If you look at all the vulnerabilities you will find that many are using field injection `@Autowired` on bean fields instead of Constructor which is not recommended because it loosed unit test ability etc. so this task is to move field to constructor

[2020-10-02 11:36] preetkaran20 commented on #199
hmm. Yes this can be one way but might not work if someone want to do the same using our binary. I was thinking from the perspective of Market place where some can go and host the vulnerability classes and from tool they can download those classes.
The same approach as what you are telling, if we do using market place would be great.  What do you think ?

[2020-10-02 11:38] preetkaran20 commented on #206
https://github.com/SasanLabs/VulnerableApp/pull/207 Done

[2020-10-02 11:38] #206 closed

[2020-10-02 13:37] preetkaran20 commented on #182
Framework wiki is one. Need to add contributing guidelines.

[2020-10-02 13:51] preetkaran20 commented on #182
Added a basic contributing guideline. Hence closing this.

thanks,
Karan

[2020-10-02 13:51] #182 closed

[2020-10-02 13:54] preetkaran20 opened #212 "Adding Unit Test for Vulnerabilities"
**Is your feature request related to a problem? Please describe.**
Currently we are not having any Unit tests and hence regression is quite tough to handle. This task is an Uber level task to add unit tests and it will be divided into multiple parts to handle it.

**Describe the solution you'd like**
Adding unit tests.

[2020-10-02 13:55] preetkaran20 commented on #212
Unit test case for even one method is welcomed.

thanks,
Karan

[2020-10-02 14:07] fengyuanyang commented on #211
I would like to take this issue as part of Hacktoberfest, could you assign to me

[2020-10-02 14:24] pavluchenko commented on #189
Hi, please assign this issue to me. I would like to work on this

[2020-10-02 14:47] hemantgs commented on #199
By market place do you mean to have a common app hosted somewhere from where people can add their classes  and others can download from and use them ?

[2020-10-02 14:49] preetkaran20 commented on #199
Yes, correct i am thinking about it.

[2020-10-02 15:00] hemantgs commented on #199
Hmmm , in that case my suggestion would be to start with an API design , the UI can come later , maybe start with wireframes first ..
Marketplace should live in a different repo ? I am not sure .. what do you think

[2020-10-02 15:08] preetkaran20 commented on #199
hmm, actually yes.

UI is already derived by the annotations so we need to get the similar information from the marketplace. we already have endpoint called `allEndPointJson` and `allEndPoint` and if the information from the marketplace jar is same we can build the UI.

I think our backend framework is quite extensible and it doesn't require any change for achieving this functionality. Only the UI

[2020-10-02 15:09] preetkaran20 commented on #199
For more information please look at : https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/controller/VulnerableAppRestController.java#L64

[2020-10-02 15:15] hemantgs commented on #199
I see , in that case the marketplace will not be public right ? Meaning it will be tied to the lifecycle of VulnerableApp

[2020-10-02 15:24] preetkaran20 commented on #199
may be or may not be ... this depends on how we approach it.
If for example say there are vulnerable applications which are hosted in cloud then once a user comes to our vulnerable Application and inserts the URL of that applications (a similar endpoint as allEndPointJson) then we can utilise that information and run the entire application from our application.

If we go by downloading Jar and the

[2020-10-02 15:48] preetkaran20 opened #213 "UI Alignment is not proper for many levels."
**Is your feature request related to a problem? Please describe.**
As we are building UI from multiple sources hence for some of the levels UI is not aligned properly. This task is to align the UI better.

Please download the docker images and check the alignment for the UI screen.
Eg.
![image](https://user-images.githubusercontent.com/13570884/94943102-d8288e80-04f4-11eb-84c3-7e57dbe96a7f.png)

T

[2020-10-02 15:52] preetkaran20 commented on #213
Please consider having a generic css so that developers writing new vulnerability need to not struggle with CSS.

[2020-10-02 16:13] preetkaran20 opened #214 "Designing a Logo for VulnerableApp"
**Is your feature request related to a problem? Please describe.**
One requirement we have is that VulnerableApp is not having any Logo. Suggestions are welcome. Please suggest some logo.

Designed logo can help VulnerableApp become unique.
More information about VulnerableApp: https://sasanlabs.github.io/VulnerableApp/ and Readme.md file. Please go through documentation as that will help designin

[2020-10-02 16:17] preetkaran20 commented on #214
Once logo is finalised then you can add the logo to the https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/resources/static/index.html

[2020-10-02 17:01] hemantgs commented on #199
Hmm that makes sense , need a clear plan on how to take it forward though

[2020-10-02 18:57] APalpattuwar7 commented on #213
Can I work on this?

[2020-10-02 20:04] ishitacodes commented on #213
I would like to work on this.

[2020-10-02 22:58] rafaabc opened #217 "Translation of README to Portuguese-BR"
**Is your feature request related to a problem? Please describe.**
Hi! I was wondering whether a translation of the README to pt-br is worthy. I can do this and I believe it will bring more visibility to the brazilian comunity to also contribute.

**Describe the solution you'd like**
Create a README file translated to portuguese-BR.

**Describe alternatives you've considered**
-

**Additional cont

[2020-10-03 01:19] preetkaran20 commented on #213
Hi @APalpattuwar7 and @ishitacodes,

I think both of you can work on this. We can divide in a way like, one can work on the Vulnerability UI side and other can work on the framework UI (May be framework look and feel i.e. VulnerableApp.css)

Please let me know if this way works for you guys. In case both of you want to work on Vulnerability side then you guys can pick in a way like:
one can pick:

[2020-10-03 01:26] preetkaran20 commented on #211
Thanks @fengyuanyang for picking this changes.

[2020-10-03 01:26] #211 closed

[2020-10-03 01:30] preetkaran20 commented on #189
@pavluchenko has done this change and it is merged. so closing this issue.

thanks,
Karan

[2020-10-03 01:30] #189 closed

[2020-10-03 01:49] preetkaran20 commented on #217
Hi @rafaabc ,

Thanks for raising this Feature request. From our perspective we are thinking this as a task where our documentation will change as per the language selection. e.g.
![image](https://user-images.githubusercontent.com/13570884/94980579-975a6500-0548-11eb-8cc5-f3cc7c16e525.png)

Visit documentation at: https://sasanlabs.github.io/VulnerableApp/

If you would like to do that change then

[2020-10-03 03:03] anubhav2005 commented on #217
I would like to work on this issue. can you please assign me with this issue? Thank you.

[2020-10-03 03:39] preetkaran20 commented on #217
Hi Anubhav,

Assigned to you.

Thanks.

[2020-10-03 05:43] preetkaran20 commented on #199
Hi @hemantgs ,

I think we need to note down approaches and there pros/cons and also discuss among our selves some of the questions like:

1.  is there anyone interested in something like market place,
2. Anyone interested in already written application to be integrated with VulnerableApp
3. How to proceed from now onwards as we have many vulnerabilities covered but still some are left so shall we

[2020-10-03 08:31] APalpattuwar7 commented on #213
Let @ishitacodes do this work.

[2020-10-03 08:54] AlessandroArosio commented on #184
I'll take this on :)

[2020-10-03 09:12] preetkaran20 commented on #184
Hi @AlessandroArosio ,

We are not very clear on this requirement as this was created with something different in mind and this might seems invalid for now as vuln.yml is now out of scope.
Sorry for inconvinence.

thanks,
Karan

[2020-10-03 09:19] AlessandroArosio commented on #212
I can have a look during this weekend

[2020-10-03 09:29] preetkaran20 commented on #185
Alignment issues can be tackled with issue: https://github.com/SasanLabs/VulnerableApp/issues/213 but as our UI has left nav bar and with the addition of more vulnerabilities scrolling can be little tricky so this issue is to design some scalable User interface.
After this is done an implementation issue https://github.com/SasanLabs/VulnerableApp/issues/186 can be picked up.

thanks,
Karan

[2020-10-03 09:30] preetkaran20 commented on #186
This is part 2 of the https://github.com/SasanLabs/VulnerableApp/issues/185

[2020-10-03 09:58] preetkaran20 opened #219 "Some Vulnerability are not having User Interface"
**Is your feature request related to a problem? Please describe.**
As there are some Vulnerabilities which are not having user interface so we are showing some response using "sasan.html" file.

**Describe the solution you'd like**
So in this feature, a error page with better details and proper naming is needed.
Content of the HTML page should be depicting the reason and may be little nicer UI.

!

[2020-10-03 10:19] devabhishekpal commented on #214
I want to work on this issue
@preetkaran20

[2020-10-03 10:20] preetkaran20 commented on #214
Hi @devabhishekpal ,

Assigned you this feature.

thanks,
Karan

[2020-10-03 10:20] devabhishekpal commented on #214
Thank you

[2020-10-03 10:22] devabhishekpal commented on #214
I will be sending a few ideas for the logo by today evening.

[2020-10-03 13:08] rafaabc commented on #217
Hey @preetkaran20 I would be a pleasure to work on this if I may!

[2020-10-03 13:34] preetkaran20 commented on #217
Hi @rafaabc ,

Thanks for the help. I have assigned this to @anubhav2005 however it would be great if you can add your inputs as a reviewer to the issue/PR.

thanks,
Karan

[2020-10-03 15:25] devabhishekpal commented on #214
What do you think about this?
![vulApp](https://user-images.githubusercontent.com/43001336/94995260-ce695e80-05ba-11eb-8dea-ee3cde0536af.png)

[2020-10-03 15:27] rafaabc commented on #217
ok @preetkaran20 I would wnjoy helping with this.

Thanks

Rafael

[2020-10-03 15:34] preetkaran20 commented on #214
@devabhishekpal  How would you describe it ? Looking at it, for me it looks like Vulnerabilities/issues are there if looked closely which is an amazing depiction. V -> is for vulnerableApp. correct me if i am wrong. When i open this images it is not showing me a proper image, is there any issue ?

@hemantgs  any comments on this?

[2020-10-03 15:36] devabhishekpal commented on #214
Yes. The V was for VulnerableApp and since it is mainly for simulating vulnerabilities, but can be extended to search for them too I have made a magnification glass to symbolise searching of the same.

[2020-10-03 15:36] devabhishekpal commented on #214
The pic is in Png transparent background so it isnt visible. Give me a minute I am uploading a white background version.😊

[2020-10-03 15:39] devabhishekpal commented on #214
![vulApp](https://user-images.githubusercontent.com/43001336/94995530-9531ee00-05bc-11eb-9295-14632ca25bb3.png)

@preetkaran20 check this one

[2020-10-03 16:02] hemantgs commented on #214
@devabhishekpal @preetkaran20
I like the design 👍 shows what the app is about well ,
@devabhishekpal in case you have another version you're working on , we would love to have a look at that too
Logos kind of stick to the app 🙂

[2020-10-03 16:06] preetkaran20 commented on #214
@hemantgs i was going to ask for the same.

[2020-10-03 16:46] devabhishekpal commented on #214
Yes I had another idea with a V and the guy fawkes eyes

[2020-10-03 16:46] devabhishekpal commented on #214
More like a combination of the VueJS V and the eyes

[2020-10-03 17:45] devabhishekpal commented on #214
I had these two in mind too
![vulApp2](https://user-images.githubusercontent.com/43001336/94998273-442af580-05ce-11eb-9a7b-e07071fe0bc0.png)
![vulApp3](https://user-images.githubusercontent.com/43001336/94998274-455c2280-05ce-11eb-8fc8-7e1c276a7313.png)

@hemantgs @preetkaran20

[2020-10-03 17:46] devabhishekpal commented on #214
The first is like a lock breaking indicating that the VulnerableApp was used to find a weakness.
The second is a V with a conical flask which shows the Payload Testing part of VulnerableApp

[2020-10-04 02:06] preetkaran20 commented on #214
Thanks @devabhishekpal , Lets do this, we ask ourselves some questions to better understand this:
Q. **What are the keywords which represents our project**
A. 1. Web Application 2. Deliberately Vulnerable Application 3. Security 4. Easy to add vulnerabilities (This is because we want ZAP or any other scanning tool developer to first write the vulnerability and then write scan rule in ZAP) 5. Bank

[2020-10-04 03:12] fengyuanyang commented on #212
I am working on Commoninjection unit tests.
There are some issues i need to conquer.
I will send pr later

[2020-10-04 04:52] devabhishekpal commented on #214
Okayy sure @preetkaran20 😊

[2020-10-04 06:56] Nimanita commented on #219
@preetkaran20  we have to design good html pages for showing above  error? if yes,than please assign this issue to me.

[2020-10-04 07:13] preetkaran20 commented on #213
Hi @ishitacodes ,

Are you looking into this issue ? and if so which part you are looking at, one part is alignment issue and another is a new UI structure for VulnerableApp.

thanks,
Karan

[2020-10-04 07:13] preetkaran20 commented on #219
Yes we have to design some good error page. but we cannot change the entire page structure because of the basic design which we are having. I suggest you to go through https://sasanlabs.github.io/VulnerableApp/DesignDocumentation.html documentation for more information.

For entire structure change we have created another issue https://github.com/SasanLabs/VulnerableApp/issues/213.

thanks,
Karan

[2020-10-04 07:20] devabhishekpal commented on #214
![vulApp4](https://user-images.githubusercontent.com/43001336/95009482-0f578680-0640-11eb-920f-4faebafca7e9.png)

I had this idea. And since it is under OWASP we could also maybe add that wasp inside the Magnifying glass. It would symbolize a Bug or rather a vulnerability in any application. What do you think? @preetkaran20

[2020-10-04 07:21] devabhishekpal commented on #214
But the logo would be much smaller
I am sending a 32x32 size
Then you would get an idea of how it would look when applied somwhere.

[2020-10-04 07:23] devabhishekpal commented on #214
![vulApp4_32](https://user-images.githubusercontent.com/43001336/95009558-8ee55580-0640-11eb-8a68-817769467a4f.png)

This is 32x32

[2020-10-04 08:01] preetkaran20 commented on #214
hmm, what does magnifying glass depicting ? It can depict something like a scan. what is your point of view.

@devabhishekpal @hemantgs

[2020-10-04 08:02] devabhishekpal commented on #214
It is actually depicting searching of vulnerabilities. And then we can add the OWASP wasp in it maybe to show finding of the bugs. Provided it doesnt look cluttered on adding that

[2020-10-04 08:04] preetkaran20 commented on #214
that is actually the problem. When i look at it, it seems to me like a tool's logo which finds the vulnerabilities (Scans the vulnerabilities) where as this is opposite to that.

[2020-10-04 08:31] preetkaran20 commented on #214
Thinking out loud,

Can we do something like an Opened Lock eg.
![image](https://user-images.githubusercontent.com/13570884/95010643-a3c5e700-0648-11eb-9869-220fada12738.png)

With the opening of lock having line from middle representing an A for application and Not sure how to fit V in this. Also How to represent the Developer of Scanners (Not sure). Ocean can represent other Deliberately Vulnera

[2020-10-04 09:05] preetkaran20 commented on #214
@devabhishekpal  was also thinking if we can have a shield with the VA design which you have mentioned above.
![image](https://user-images.githubusercontent.com/13570884/95011490-b2af9800-064e-11eb-9ae8-4c74c3addb02.png)
 May be VA is forming a broken line ?

[2020-10-04 09:05] preetkaran20 commented on #214
While looking at VA part it looks amazing. @hemantgs any comments

[2020-10-04 09:56] devabhishekpal commented on #214
Yeah I can do the shield with breaking and VA @preetkaran20

[2020-10-04 10:02] preetkaran20 commented on #214
thanks @devabhishekpal . we can do pros and cons for both the logos.

thanks,
Karan

[2020-10-04 10:09] devabhishekpal commented on #214
I am sending the new one by evening

[2020-10-04 11:22] ishitacodes commented on #213
Hey
I am looking into the alignment issue, do you have something specific in mind?

[2020-10-04 11:31] Nimanita commented on #219
@preetkaran20 Yes I will love to work on it.I will add some css style to make it better and I will keep in mind to not change basic layout

[2020-10-04 11:32] preetkaran20 commented on #213
Hi @ishitacodes ,

Great !!!. No nothing. please continue.

thanks,
Karan

[2020-10-04 11:33] preetkaran20 commented on #219
Hi @Nimanita ,

Assigned this task to you.

thanks,
Karan

[2020-10-04 14:46] devabhishekpal commented on #214
![vulApp5_32](https://user-images.githubusercontent.com/43001336/95018598-6aa86980-067e-11eb-8945-bb2aa5a8422e.png)

![vulApp5](https://user-images.githubusercontent.com/43001336/95018596-69773c80-067e-11eb-9dba-f5f39a0f427d.png)

This is what I had in mind. The VA is inside the shield giving the effect of a crack in it.

[2020-10-04 14:59] preetkaran20 commented on #214
Hi @devabhishekpal ,

To me it looks good. May be we can change the background of shield to white and border as black. Similar to the image I sent you. Also I think the mirror image of the shield image I have added above can make a V with A. Dimension of A can be smaller than the V to make crack look better

@hemantgs  please share your thoughts

[2020-10-04 15:12] preetkaran20 commented on #214
Thinking again.

I think this looks good just the start of V and End of A can be smooth and doesn't require special curve. i.e.
![image](https://user-images.githubusercontent.com/13570884/95019285-1901de00-0682-11eb-8c22-b70d93f0c8e4.png)

[2020-10-04 15:16] preetkaran20 commented on #214
One candidate could be
![image](https://user-images.githubusercontent.com/13570884/95019379-a8a78c80-0682-11eb-8c13-e561a9e0a85a.png) too where instead of this sign there can be our VA sign.

[2020-10-04 15:19] preetkaran20 commented on #214
@devabhishekpal also check if we reduce the line size as we keep going to A from V sign.
Something similar to the above flash sign. How does it looks ?

[2020-10-04 15:25] preetkaran20 commented on #214
Also how about changing little bit more something like:
![image](https://user-images.githubusercontent.com/13570884/95019588-d3461500-0683-11eb-89f4-1341ea0ea4e7.png)

[2020-10-04 15:50] preetkaran20 commented on #214
Hi @devabhishekpal ,

I think https://github.com/SasanLabs/VulnerableApp/issues/214#issuecomment-703269698 one change will make the logo final. Please proceed with this change and then let's choose one.

thanks,
Karan

[2020-10-04 15:55] devabhishekpal commented on #214
Okaayyy

[2020-10-04 16:18] devabhishekpal commented on #214
![vulApp5](https://user-images.githubusercontent.com/43001336/95020825-1fe11e80-068b-11eb-9057-ec4fdde3b36c.png)

The change isnt looking as good
But I have thought of some changes. I am sending those by morning. I was thinking about making the one from [this comment](https://github.com/SasanLabs/VulnerableApp/issues/214#issuecomment-703271520) and adding the VA in the center. Or taper off the edg

[2020-10-04 16:22] preetkaran20 commented on #214
Yeah you are right. Let's see.

thanks,
Karan

[2020-10-05 07:49] hritikgupta commented on #210
would like to explore this, can i work on it?

[2020-10-06 01:46] preetkaran20 opened #223 "Analysing the blockers towards the usage of VulnerableApp"
**Is your feature request related to a problem? Please describe.**
As in VulnerableApp we want to promote the writing of vulnerabilities before writing scan rules but some how this has not happening so this task is to analyse and note down all the points and then ways to fix the.
There are 2 parts to this analysis task:
1. Finding the issues (asking on Twitter/Reddit etc) and then
2. Validation ea

[2020-10-06 01:47] preetkaran20 commented on #223
Feedbacks are welcome.

[2020-10-06 01:52] preetkaran20 opened #224 "Adding List of covered vulnerabilities in Documentation and Owasp Website"
**Is your feature request related to a problem? Please describe.**
Till now we have covered some 8-9 Types of Vulnerabilities in VulnerableApp but we have not collated information about it anywhere. If we add this information in Owasp Website (https://owasp.org/www-project-vulnerableapp/) {Git repo for Owasp https://github.com/OWASP/www-project-vulnerableapp/blob/master/index.md} and our Documenta

[2020-10-06 01:53] preetkaran20 commented on #224
@hemantgs for reference.

[2020-10-07 07:45] preetkaran20 commented on #219
Thanks @Nimanita for completing this issue. Hence Closing this task.

[2020-10-07 07:45] #219 closed

[2020-10-09 07:05] ShareACoke1 commented on #200
Hi there! I would like to work in this.

[2020-10-09 07:28] preetkaran20 commented on #200
Assigned to you thanks.

[2020-10-11 06:05] preetkaran20 opened #226 "Adding an Article on Owasp VulnerableApp"
**Is your feature request related to a problem? Please describe.**
We are not having much articles about What is VulnerableApp, How it solves the problem for Scan Rule implementers, How to write a new Vulnerability for a Scan Rule and Need to add my experience on adding JWT related Vulnerabilities and Scanner using TDD approach.

**Describe the solution you'd like**
Need to add an article at vario

[2020-10-11 06:14] preetkaran20 commented on #223
Hi @psiinon @thc202 @kingthorin @bkimminich,

As you guys are very experienced in the security field and open source projects so tagging you guys for the feedback and guidance on next steps and what is missing that can be brainstormed more and worked on. Please add you comments to this issue or the attached Wiki.

thanks,
Karan

[2020-10-11 06:39] preetkaran20 opened #228 "Enhancing the JWT Vulnerability to include https://github.com/SasanLabs/owasp-zap-jwt-addon/issues/10"
**Is your feature request related to a problem? Please describe.**
Analyse the brute force attack with common passwords for jwt as per the following https://raw.githubusercontent.com/wallarm/jwt-secrets/master/jwt.secrets.list list.

Read more on https://lab.wallarm.com/meet-jwt-heartbreaker-a-burp-extension-that-finds-thousands-weak-secrets-automatically/

**Describe the solution you'd like**
The

[2020-10-11 07:55] preetkaran20 commented on #224
https://github.com/SasanLabs/VulnerableApp/pull/230

[2020-10-11 08:48] preetkaran20 commented on #224
https://github.com/SasanLabs/VulnerableApp/pull/231/files

[2020-10-11 11:18] preetkaran20 commented on #224
Done the changes.

[2020-10-11 11:18] #224 closed

[2020-10-11 16:30] hexxdump commented on #226
I would like to give it a try

[2020-10-11 16:33] preetkaran20 commented on #226
Hi @hexxdump ,

Great, Will assign this task to you.

thanks,
Karan

[2020-10-12 02:52] preetkaran20 opened #232 "Adding a new Level in Persistent XSS vulnerability for retrieving the values from Path Param."
**Is your feature request related to a problem? Please describe.**
There is one usecase we got from the https://github.com/zaproxy/zap-extensions/pull/2443 where untrusted input is part of Path Param so we need to add such usecase too as such usecases are tricky to handle for scanners and can be a important for them.

**Describe the solution you'd like**
Go to https://github.com/SasanLabs/Vulnerab

[2020-10-12 03:01] preetkaran20 opened #233 "Segregating Learning Security related vulnerability levels from Scanner related vulnerability levels"
**Is your feature request related to a problem? Please describe.**
While i was creating a new Vulnerability level for Persistent XSS which is based on PathParam instead of QueryParam from learning prespective both are almost same but from scanner point of view they are quite different so we need a way to segregate both using some kind of annotation or add an attribute to `VulnerableAppRequestMappi

[2020-10-12 03:01] preetkaran20 commented on #233
@hemantgs  please share your thoughts

[2020-10-12 03:40] preetkaran20 commented on #226
For pointers please visit: https://sasanlabs.github.io/VulnerableApp/ , https://owasp.org/www-project-vulnerableapp/
Little history:
The problem encountered was, there was an enhancement for adding scan rule for Mongo Injection in Owasp ZAP and one developer is implementing it but there are no vulnerable apps present for mongo injection so the developer has to write his own application and that co

[2020-10-12 11:39] kingthorin commented on #223
I think it's just a matter of raising awareness. Also a blog or some guidance outlining how to add a test scenario would probably be helpful.

[2020-10-13 02:16] preetkaran20 commented on #212
Unit test case for command injection is done. PR https://github.com/SasanLabs/VulnerableApp/pull/221

[2020-10-13 23:52] preetkaran20 commented on #214
Hi @devabhishekpal ,
Did you got time to look into this?

Thanks,
Karan

[2020-10-14 00:24] devabhishekpal commented on #214
Yes, sorry I had a hectic week with assignment submissions😅 will positively send the new one by today
preetkaran20

[2020-10-14 02:55] preetkaran20 commented on #217
Hi @anubhav2005 ,

Are you stuck at something regarding this issue? please let me know if you require some help.

thanks,
Karan

[2020-10-14 02:56] preetkaran20 commented on #213
Hi @ishitacodes ,

Any updates on the task ? Are you stuck some where ? Please let me know.

thanks,
Karan

[2020-10-14 02:57] preetkaran20 commented on #212
@fengyuanyang please let me know if you want to work on other tests else we can unassign this task from you and let someone else pick other tests.

[2020-10-14 02:58] preetkaran20 commented on #210
Hi @hritikgupta ,

Are you stuck at something regarding this issue? please let me know if you require some help.

thanks,
Karan

[2020-10-14 03:27] fengyuanyang commented on #212
Hi @preetkaran20
You can unassign me , i am not available for now to do other tests.

[2020-10-14 08:48] preetkaran20 commented on #185
use Figma for XD then we can build the UI from that.

[2020-10-14 09:26] hexxdump commented on #226
thanks @preetkaran20. Let me go through the documentation and list down the advantages of VulnerableApp compared to the ones already present.

[2020-10-14 15:16] devabhishekpal commented on #214
![va](https://user-images.githubusercontent.com/43001336/96009491-558dc080-0e5e-11eb-846d-39f7b3f72ee3.png)
![va1](https://user-images.githubusercontent.com/43001336/96009494-56beed80-0e5e-11eb-8f53-fadda8d47793.png)

What do you think about these? @preetkaran20

[2020-10-14 15:19] preetkaran20 commented on #214
one question, can we have a smaller VA ? just to compare. example https://github.com/SasanLabs/VulnerableApp/issues/214#issuecomment-703271520

[2020-10-14 15:43] preetkaran20 commented on #214
if possible can we have little less width V edges, it looks little big.

[2020-10-14 16:23] devabhishekpal commented on #214
Yes

[2020-10-14 16:32] devabhishekpal commented on #214
![va](https://user-images.githubusercontent.com/43001336/96018412-da7dd780-0e68-11eb-9f7e-45eace818592.png)
![va1](https://user-images.githubusercontent.com/43001336/96018416-dbaf0480-0e68-11eb-92b0-ea13d624c85b.png)

These are the new modifications.
On the first one I changed the V a bit to make it go from wide at the edge to thinner at the middle so that it looks more like a crack.
The second on

[2020-10-15 01:36] preetkaran20 opened #234 "Handling of issues in the BackEnd Frameworks"
**Is your feature request related to a problem? Please describe.**
I was implementing the path param based vulnerability but i found it quite complex and had to do some workarounds because of the way we generate URL from custom annotations.
E.g
[code]
The issues in the above code is it will never hit this endpoint if provided values are "/level_10/something" because there is no path param so had t

[2020-10-15 04:00] preetkaran20 opened #235 "Need to write DB query to fetch data per level for Persistent XSS and XXE"
**Describe the bug**
Currently we are manually removing some of the data for levels in Java instead we can utilise the Database query to do the same.
[code]
The above snippet is for PersistentXSS and i think same is done for XXE. so we can create index in Database and filter in DB query.
**To Reproduce**
I was trying to test @zaproxy for persistentXSS but that made VulnerableApp slow because of in

[2020-10-15 07:20] preetkaran20 commented on #214
@hemantgs  what do you think ? For me 2nd one looks amazing.

[2020-10-15 07:23] hemantgs commented on #214
@preetkaran20 Sorry , I missed the previous discussions ..
So I dig both the designs .. excellent work from @devabhishekpal
We can pick the second @preetkaran20 Looks good

[2020-10-15 07:50] preetkaran20 commented on #214
thanks @hemantgs.

@devabhishekpal  can you please give 3 different resolution logo's (check some site like github for standard way to provide the logo).
Then we can add these logo's to
1. index.html page in VulnerableApplication
2. Documentation website(https://sasanlabs.github.io/VulnerableApp/) and Readme file.
3. adding the logo to Owasp Website (https://owasp.org/www-project-vulnerableapp/)

[2020-10-15 08:13] devabhishekpal commented on #214
A colour will pop out more. It is a great idea. What colour scheme do you have in mind? @preetkaran20 @hemantgs ? I was thinking something in the yellowish orange range to give that warm yet kind of a warning type of vibe?

[2020-10-15 08:16] preetkaran20 commented on #214
@devabhishekpal yeah makes sense. Actually only issue is combination with VulnerableApp's existing design. Lets have Black and white logo as well as yellowish orange logo both.

[2020-10-15 08:18] devabhishekpal commented on #214
Okayy @preetkaran20 then I am adding 2sets of 3resolutions. One b/w and one coloured.

[2020-10-17 11:35] devabhishekpal commented on #214
![iconColoured](https://user-images.githubusercontent.com/43001336/96336097-dfc26880-109a-11eb-9503-01eba58eacef.png)

This is the coloured version. What do you think? @hemantgs @preetkaran20

[2020-10-17 11:45] preetkaran20 commented on #214
wow !!!

[2020-10-17 11:46] preetkaran20 commented on #214
This has outline color little different correct ? It looks amazing , Too good @devabhishekpal

[2020-10-17 11:51] devabhishekpal commented on #214
Yes the outline has a different colour. Yellow and orange.

[2020-10-17 11:53] preetkaran20 commented on #214
I think we are good to have a PR with logo's and then have them at multiple other places as mentioned https://github.com/SasanLabs/VulnerableApp/issues/214#issuecomment-708968874

[2020-10-18 02:28] preetkaran20 commented on #214
Hi @devabhishekpal ,

Please let me know if you are interested in integrating logo's at multiple places like:

1. index.html page in VulnerableApplication
2. Documentation website(https://sasanlabs.github.io/VulnerableApp/) and Readme file.
3. adding the logo to Owasp Website (https://owasp.org/www-project-vulnerableapp/)

thanks,
Karan

[2020-10-18 04:49] devabhishekpal commented on #214
Yes @preetkaran20

[2020-10-18 08:17] preetkaran20 commented on #214
Hi @devabhishekpal ,

I have updated Owasp Website and Docker readme (As they require more access permissions). Please go through
1. index.html page in VulnerableApplication
2. Documentation website(https://sasanlabs.github.io/VulnerableApp/) and Readme file.

thanks,
Karan

[2020-10-18 08:46] devabhishekpal commented on #214
Okayyy

[2020-10-20 13:33] #235 closed

[2020-10-20 13:45] hritikgupta commented on #210
Hi @preetkaran20, sorry for the late revert, I haven't been able to find time to work on it; would probably unassign myself so that someone else could take it up.

[2020-10-20 13:47] preetkaran20 commented on #210
No worries, thanks.

[2020-10-20 14:39] preetkaran20 opened #240 "Creating GIFs on how to use the project and how to add new vulnerabilities"
This task is to create gifs to describe the project and its usage.

[2020-10-24 05:48] hexxdump commented on #226
@preetkaran20, I have started writing about this, can you please take a look at the document and suggest any improvements? https://docs.google.com/document/d/1myOVcb8D4zdlsH_2gIFQm0_6VQMStGgb-YFLOKKxAQs/edit?usp=sharing

[2020-10-24 08:22] preetkaran20 commented on #226
@hexxdump  please give me the access to the document.

thanks,
Karan

[2020-10-24 08:48] preetkaran20 commented on #226
@hemantgs please review it. @hexxdump i have added some points.

[2020-10-24 14:43] preetkaran20 commented on #240
@hemantgs  I have created a GIF, does this works ?
![Owasp VulnerableApp(2)](https://user-images.githubusercontent.com/13570884/97084522-53351e80-1635-11eb-91c2-38afa8c04f0a.gif)

thanks,
Karan

[2020-10-25 04:16] preetkaran20 opened #241 "Indicating to user that they have completed the Level"
**Is your feature request related to a problem? Please describe.**
Till now we have created levels and help, information about vulnerability etc but we have not introduce the indicator which tells that the level is complete. For doing this we need to analyse the existing applications like @dvwa or @owasp-juiceshop
to check how they are achieving it.

we have not done that because our target is maj

[2020-10-25 06:05] hemantgs commented on #240
@preetkaran20 looks good.. I think we can roll with this 👍

[2020-10-25 08:21] preetkaran20 commented on #240
How to add a new vulnerability i will cover in a video series.

[2020-10-25 08:21] #240 closed

[2020-10-25 13:05] hexxdump commented on #226
@hemantgs , please review the below content:

**An extensible Vulnerable App for testing the Vulnerability scanning tools**

Anyone working in the cyber security domain or starting with cyber security will be introduced to one or the other Vulnerable applications as their playground. These applications are used to understand each vulnerability and to learn about how to mitigate them. I was introdu

[2020-10-26 01:38] preetkaran20 commented on #217
Hi @anubhav2005 ,

Are you stuck at something regarding this issue? please let me know if you require some help.

thanks,
Karan

[2020-10-26 01:38] preetkaran20 commented on #200
Hi @ShareACoke1 ,

Are you stuck at something regarding this issue? please let me know if you require some help.

thanks,
Karan

[2020-10-26 11:28] preetkaran20 commented on #226
@hexxdump Everything seems very good in this writeup. Please go ahead and add this article to various platforms.
Also we wanted to add this write up to `/docs/blogs/` directory. please add there.

thanks,
Karan

[2020-10-26 13:21] preetkaran20 commented on #214
https://github.com/OWASP/owasp-swag/pull/44

[2020-10-26 13:48] ShareACoke1 commented on #200
Hi, currently I am trying to solve this issue by redirecting the back button click as a refresh. As the URL doesn't change, this seemed like a solution. But it is not working yet.

[2020-10-26 14:02] preetkaran20 commented on #200
@ShareACoke1 Yeah, hiding some div's make it quite complex to achieve the exact back button state but i think trying to use the histories API can be beneficial. Please have a look at: https://medium.com/@george.norberg/history-api-getting-started-36bfc82ddefc

[2020-10-27 08:40] hexxdump commented on #226
https://hussaina-begum.medium.com/an-extensible-vulnerable-application-for-testing-the-vulnerability-scanning-tools-cc98f0d94dbc
https://hussaina-begum.blogspot.com/2020/10/an-extensible-vulnerable-application.html

[2020-10-27 13:13] preetkaran20 commented on #226
@hexxdump  can you please give me your Linkedin profile and twitter profile as i need to publicise the post.

thanks,
Karan

[2020-10-29 15:05] preetkaran20 commented on #226
Closing this issye as @hexxdump  has solved this.

[2020-10-29 15:05] #226 closed

[2020-11-08 08:01] preetkaran20 commented on #214
Hi @devabhishekpal ,

I have done the changes at both the places. Thanks a lot for designing the Logo and helping us with such an amazing logo design.

thanks,
Karan

[2020-11-08 08:01] #214 closed

[2020-11-08 08:20] devabhishekpal commented on #214
Hey no problem😊 It was really fun and helped me gain experience too and thanks a lot for all the help on your end too.

[2020-11-10 17:30] ShareACoke1 commented on #200
Hi @preetkaran20 , So far I have this: When I click on the Learn Security Button the URL changes to http://localhost:9090/learnVulnerabilities. When I click the Back button in the browser, the URL changes back and the Home button is clicked so everything is shown as default. What is your opinion about it?

[2020-11-11 05:41] preetkaran20 commented on #200
one question, does click on Learn Security button just changes the URL but doesn't call backend ? and what if i reenter the `http://localhost:9090/learnVulnerabilities` url and browser does it opens the vulnerability page ?

[2020-11-11 22:08] ShareACoke1 commented on #200
The button works as before, so it will show the vulnerabilities, however if you refresh or reenter http://localhost:9090/learnVulnerabilities it will throw an error. I have raised a PR.

[2020-11-12 02:20] preetkaran20 commented on #228
we already have JWT level4 which has key which is publicly know. however we can add one more level

[2020-11-12 04:00] preetkaran20 opened #249 "Links for learning in the app opens in same page"
**Describe the bug**
Say on learn jwt page when I click on a link it opens in same window causing users to click by holding control key. Also for single page application it looks odd

Simple solution is putting blank as target for links or we need to have a way to tell browser open in new tab

[2020-11-13 14:53] preetkaran20 opened #250 "[Analyse] www-project-benchmark"
Need to think more about project-benchmark and learn from it. It looks like this is quite similar to what we are doing.
Need to learn from it, how it differs from our usecase and other things.
https://owasp.org/www-project-benchmark/

[2020-11-13 18:06] preetkaran20 commented on #158
Yeah !!!! we have done the integration with OWASP ZAP. A big achievement for us.

[2020-11-13 18:06] #158 closed

[2020-11-13 18:30] preetkaran20 opened #251 "Making VulnerableApp as Lab Project in Owasp"
**Is your feature request related to a problem? Please describe.**
Currently Owasp VulnerableApp is incubator project and as we have progressed well and also integrated in Owasp ZAP's weekly build so i think we can move to the next step which is Lab Project.

This might require to read some documents of Owasp regarding project reviews and then may be specifying a clear and concise statement which

[2020-11-13 18:49] preetkaran20 commented on #251
A comparison of "benchmark tool vs VulnerableApp" and "juiceshop vs VulnerableApp" and "Webgoat vs VulnerableApp"

[2020-11-16 12:57] preetkaran20 opened #255 "Java jar running is not working because of Path Api issue with Jar"
Error logs:
[code]

[2020-11-16 16:11] preetkaran20 commented on #255
Temporary Fix: https://github.com/SasanLabs/VulnerableApp/pull/256

[2020-11-19 11:04] ShareACoke1 commented on #200
Hi @preetkaran20 I would like to ask whether have you had time to look at it?

[2020-11-19 12:03] preetkaran20 commented on #200
Hi @ShareACoke1 ,

I had looked at the code, actually if we can do the same with opening the URL directly in browser then it would be great. I was thinking that we can parse the url, find the id's and click on the elements with those id's. this way we can achieve the full flow.

WDYT ?
Also i was planning to look at the router logics in frameworks so that we can do the same.

thanks,
Karan

[2020-11-23 18:54] ShareACoke1 commented on #200
Hi, I think this should be implemented in the Controller, however I'm not sure how to implement this yet.

[2020-11-24 05:27] preetkaran20 commented on #200
one way which i think is using hash url which is internal routing but i think the same can be done without hashes, look at something like react router.

[2020-11-25 04:37] preetkaran20 opened #257 "Create a Farm of applications and tie it together with other applications"
**Is your feature request related to a problem? Please describe.**
As there are many vulnerabilities which are present in some languages or stacks and not present in others and if VulnerableApp needs to cover all those then we need to have a way to create a Farm of Applications tied though the common definition and UI understands the definition and uses it to call those applications.

**Describe t

[2020-11-25 04:49] preetkaran20 commented on #257
![Farm design](https://user-images.githubusercontent.com/13570884/100184315-42fbb200-2f07-11eb-8dbe-21a140940542.jpg)

Now for designing this
1.  we need to decouple the UI out of the VulnerableApp backend so that a standalone UI can work with another backend.
2. How Vulnerabilities will be merged across applications needs to be thought through, this might not be required also
3. minikube or docke

[2020-11-25 05:57] preetkaran20 commented on #257
Use Nginx as reverse proxy where we will host our js/html files, configure SSL etc there and for the issue for allEndPointJson , Sitemap and scanner endpoints we need to merge response from multiple services sitemap/scanner/allEndpointJson in nginx
e.g. https://stackoverflow.com/questions/46267497/is-it-possible-to-consolidate-multiple-responses-and-send-one-response-in-nginx

[2020-11-25 06:04] preetkaran20 commented on #257
![Farm design](https://user-images.githubusercontent.com/13570884/100189383-34ff5e80-2f12-11eb-8874-8b9c99c71678.jpg)

[2020-11-30 11:56] ShareACoke1 commented on #200
Hi @preetkaran20 I have looked into it, but I didn't find anything. So far I have managed to implement partial solution in the controller:
[code]
This way the refresh redirects to the home page.

[2020-11-30 12:56] preetkaran20 commented on #200
Hi @ShareACoke1 ,

Please look at https://www.youtube.com/watch?v=mWeJnl9Ixxs , this way we can handle in UI instead of backend.

so logic is simple, have a Javascript which runs while loading the page and once page is loaded, it fetches the value after hash and then on the basis of that clicks some buttons/links

thanks,
Karan

[2020-12-01 04:12] Edu93Jer commented on #249
Hi, @preetkaran20  I am a newbie to this project and would like to contribute it; do you think you can put me in the right direction, please?

[2020-12-01 04:40] preetkaran20 commented on #249
Hi @Edu93Jer ,

Yeah Sure. you can go through [Overview Video](https://www.youtube.com/watch?v=AjL4B-WwrrA&ab_channel=OwaspVulnerableApp) for information about the project.

Each vulnerability has some description about the vulnerability and that description contains some external links which explains the vulnerability but as those links open in the same window as the vulnerableApp hence users nee

[2020-12-06 12:50] preetkaran20 opened #258 "Adding a way to include some indicator for FalsePositives"
**Is your feature request related to a problem? Please describe.**
Currently we can add the vulnerabilities in the VulnerableApp but there is no way to have some false positives "Secure" implementations such that we can better judge the scanners.

**Additional context**
we have a level which is called "secure" but we might need something like "secure1" , "secure2" etc. so that those can be secure

[2020-12-18 01:31] Edu93Jer commented on #249
@preetkaran20 sorry to disturb you I was busy, but now I will be working on the issue, looks kind of easy to solve, but another question for me to understand better, the HTML tags are the one that are located at [https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/resources/i18n](url) those 2 files right?

Cheers,
Edu

[2020-12-18 03:23] preetkaran20 commented on #249
Hi @Edu93Jer ,
Yes most of them are there in those i18n files, however one or 2 can be there at html pages.

Thanks,
Karan

[2020-12-28 14:24] preetkaran20 commented on #104
One of the new initiative for VulnerableApp, i started working on is: https://github.com/SasanLabs/VulnerableApp-nginx

[2020-12-28 14:25] preetkaran20 commented on #199
https://github.com/SasanLabs/VulnerableApp-nginx some other way to achieve the same.

[2020-12-29 06:40] preetkaran20 commented on #249
closing this as @Edu93Jer has fixed this.

thanks

[2020-12-29 06:40] #249 closed

[2020-12-29 18:46] preetkaran20 opened #266 "Because of New Unreleased version Owasp ZAP integration will break."
**Describe the bug**
As we have added a new context path for vulnerableApp hence the current owasp zap integration with VulnerableApp will be broken so we need to correct that after releasing the new version.

ZAP integration just need to call the new api adding "VulnerableApp" context.

Solution: Visit https://github.com/zapbot/zap-mgmt-scripts/tree/master/vulnerableApp and modify the call to sca

[2020-12-29 19:03] preetkaran20 commented on #257
Repository with the code: https://github.com/SasanLabs/VulnerableApp-nginx

[2021-01-18 19:10] MadhuMadhavanSridhar commented on #232
Hey preetkaran20
Good day!
Can I work on this?

[2021-01-19 08:00] preetkaran20 commented on #232
Hi @MadhuMadhavanSridhar ,

Yeah sure you can pick this enhancement. However it requires the the framework change. Please go through it and if you have a good idea then it will be great.

thanks,
Karan

[2021-01-19 09:02] effortlessdevsec opened #269 "Not able to import into eclipse or any other ide"
i m not able to import this code in eclipse.

The import org.springframework cannot be resolved

[2021-01-19 10:12] preetkaran20 commented on #269
Hi @effortlessdevsec ,

Are you using eclipse gradle to import it ?

[2021-01-19 10:14] effortlessdevsec commented on #269
yes,
![image](https://user-images.githubusercontent.com/30777722/105020312-26927680-5a6d-11eb-9141-be1862ef84c7.png)

[2021-01-19 10:15] effortlessdevsec commented on #269
I missing gradlew build but after it on run it showing again error , please have a look

[2021-01-19 10:23] preetkaran20 commented on #269
I just now tried importing to eclipse it is working. can you please right click on build.gradle > gradle -> refresh project and send me the output.

[2021-01-19 10:43] preetkaran20 commented on #269
@effortlessdevsec in case you are still facing issues please let me know, we can have a call and fix this.

thanks,
Karan

[2021-01-19 17:52] effortlessdevsec commented on #269
got it , there is a issue in gradle-wrapper (distribution url) . after whole day spent  on finding solution change it to https\://services.gradle.org/distributions/gradle-6.7.1-bin.zip
now working

[2021-01-19 17:52] #269 closed

[2021-01-20 02:29] preetkaran20 commented on #269
@effortlessdevsec oh ok. If you still face any issues or you are looking for any enhancement feel free to raise a issue.
Thanks,
Karan

[2021-01-26 20:02] soil-droid commented on #179
can i work on this?

[2021-01-27 05:24] preetkaran20 commented on #179
Hi @soil-droid ,

Sure. Assigning this to you.

thanks,
Karan

[2021-02-02 15:57] collapsinghierharchy opened #270 "Presumably non-exploitable vulnerabilities"
**Describe the bug**
1. Union/Blind/Error-SQLInjections >= LEVEL_3 are not exploitable. At least i was not able to find a Homoglyph that passes the "ReplaceAll"-Filter and cancels the single quote inside the query.
2. ArbitraryFileUpload/JWT-Tokens: Null-Byte-Attacks seem not to work. At least i was not able to find a null-byte sequence, that i can pass within a GET Request, that may work. (I did

[2021-02-02 19:14] preetkaran20 commented on #270
While working on this task there are few things very important we need to look:
1. Enhancing AttackVector annotation/Configuration to be more explicit to tell the exact payloads for exploitations and also create a way to register a new payload (calling a new api and add that payload) if someone encounters a new payload for the exploit.
2. SQL injection can be made vulnerable by relying on URL inst

[2021-02-03 10:01] collapsinghierharchy commented on #270
Thx for the advice for using burp to insert a null byte instead of encoding it myself in case of the file upload. I've got this working now. Also with jwt i was able to trigger the vulnerability with manually adding %00 to the signature s.t. the rest of the signature is ignored.
Therefore the issues under (2) are resolved.

What i'm still wondering about is whe usefulness of the jwt nullbyte attac

[2021-02-03 12:48] preetkaran20 commented on #270
Yeah, jwt with null byte is not very exploitable vulnerability. I am thinking how can null byte be used for creating a vulnerable code. Any thoughts?

[2021-02-04 10:29] preetkaran20 commented on #257
Closing this as https://github.com/SasanLabs/VulnerableApp-nginx is now working. Need to test more.

[2021-02-04 10:29] #257 closed

[2021-02-11 17:33] rajeshranwa commented on #213
@preetkaran20 how about using a front-end framework for the whole UI?

[2021-02-11 18:14] preetkaran20 commented on #213
Hi @rajeshranwa ,

Thanks for the suggestion, few pointers:
1. Introducing new framework will tie the entire application with the framework and developers need to know about that framework. Might not be an issue if VulnerableApp is only one application but we are planning to make VulnerableApp as pool of applications. something like https://github.com/SasanLabs/VulnerableApp/issues/257 where each

[2021-02-17 11:42] preetkaran20 commented on #232
@MadhuMadhavanSridhar  Please go through following links:
1. https://sasanlabs.github.io/VulnerableApp/DesignDocumentation.html
2. https://www.youtube.com/watch?v=AjL4B-WwrrA&ab_channel=OwaspVulnerableApp

Also once you setup the VulnerableApp in your local dev environment then you need to navigate to XSS vulnerability , fill some details and then do the action, you will see that information is se

[2021-02-25 04:25] rajeshranwa commented on #213
makes sense.

[2021-02-28 16:38] preetkaran20 commented on #270
For SQL Injection:
please look at https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/pathTraversal/PathTraversalVulnerability.java#L146 for better understand on how to make the SQLInjection Vulnerabilities exploitable.

Files for SQLInjection are:
https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnera

[2021-02-28 16:42] preetkaran20 commented on #270
@MadhuMadhavanSridhar

[2021-03-05 02:22] preetkaran20 commented on #228
we can add more levels by analysing https://github.com/NeuraLegion/brokencrystals#vulnerabilities-overviewhttps://brokencrystals.com/ project.

thanks @kingthorin for suggesting this VulnerableApp.

[2021-03-05 02:42] preetkaran20 commented on #104
closing this as we are working on VulnerableApp-Nginx.

[2021-03-05 02:42] #104 closed

[2021-03-05 02:51] preetkaran20 opened #271 "Schema design for Vulnerability Definition"
**Is your feature request related to a problem? Please describe.**
As we are working on building VulnerableApp as distributed application i.e. https://github.com/SasanLabs/VulnerableApp-nginx project so this task is to shred some of the extra parameters in annotations and limiting the annotation configuration to only required parameters and also designing the VulnerabilityDefinition endpoint prope

[2021-03-05 02:53] preetkaran20 commented on #271
Need to add a good documentation around schema so that vulnerableApplications can easily understand the requirement.

[2021-03-05 02:57] preetkaran20 commented on #176
I think we don't need sample values in Annotations so we can remove those sample values. This issue was created with some thinking but that thinking was wrong hence close this.

[2021-03-05 02:57] #176 closed

[2021-03-05 03:00] preetkaran20 opened #272 "Remove the Sample Values attribute from annotations"
**Is your feature request related to a problem? Please describe.**
Annotation `VulnerableAppRequestMapping` has a field called SampleValues which was created to help scanner know what is the sample input to the method. However later we realised that it is not of much help and also makes the developer of vulnerabilities life tough and this way doesn't scale for images etc.

**Describe the solution

[2021-03-20 19:57] preetkaran20 opened #274 "Adding support of providing Vulnerability definition for SAST tools"
**Is your feature request related to a problem? Please describe.**
Similar to the Vulnerability definition we provide for DAST, we need to add the support for SAST tools too. Along with this, please look at fixing DAST Vulnerability definition also to include minimal information

**Describe the solution you'd like**
[Request for OWASP VulnerableApp.pdf](https://github.com/SasanLabs/VulnerableApp/f

[2021-03-20 19:59] preetkaran20 commented on #274
As this is a request from Sonar Source team so we need to work on this at the earliest.

[2021-03-20 20:01] preetkaran20 commented on #274
@agigleux Tagging for reference.

[2021-03-27 09:57] preetkaran20 commented on #270
I was checking FileUpload Vulnerability and i think the Vulnerability level_9 is not exploitable.

[2021-04-10 20:06] nowakkamil commented on #258
As discussed with @preetkaran20, @marcin-wrotecki and I are going to work on this issue.

[2021-04-10 20:08] marcin-wrotecki commented on #270
As discussed with @preetkaran20, @nowakkamil and I are going to work on this issue.

[2021-04-22 14:02] agigleux commented on #274
Given the quantity of vulnerabilities demonstrated (ie. less than 100), I'm not sure it's required to build an automated solution to generated the issues that should be detected automatically by a SAST engine.
I think a first acceptable solution could be to take a couple of minutes and manually create the "ExpectedIssues.csv".

I will crreate a PR with such a file so we can exchange about its cont

[2021-04-22 14:16] preetkaran20 commented on #274
Yeah makes sense. In the mean time, i am looking at automated way for doing this for long term solution.

[2021-04-24 22:48] nowakkamil commented on #258
_Notes from the recent discussion with @preetkaran20 and @marcin-wrotecki:_

First of all, the level should be used to represent tier only. We ought to add another field to distinguish whether it is secure or not.

### Approaches considered:

1. Backend `/allEndPointJson` won't return any secure levels, it will respond with insecure ones only. However, `/scanner` will return secure vulnerabilities

[2021-05-06 10:38] preetkaran20 commented on #258
As there is one more step left which is VulnerableApp-Nginx update hence reopening the task.

[2021-05-11 14:12] marcin-wrotecki commented on #270
The issue is about checking which levels of Union/Blind/Error-SQLInjections and UnrestrictedFileUpload are secure and mark it. Second part is finding a payload which can exploit the mentioned vulnerabilities. Then, payload should be added to properties files. Change the name of curlPayload parameter in AttackVector adnotation to payload. In UI it should be changed too.

[2021-05-11 14:19] #258 closed

[2021-05-14 02:16] fdmcneill2019 commented on #274
Hi, is this issue still available?

[2021-05-14 02:32] preetkaran20 commented on #274
Hi @fdmcneill2019 ,

Yes, we have added vulnerabilities manually to a [csv](https://github.com/SasanLabs/VulnerableApp/blob/master/scanner/sast/expectedIssues.csv) but we are looking for the automated way to populate it.

thanks,
Karan

[2021-05-14 15:17] fdmcneill2019 commented on #274
Could you explain exactly what is meant by "non expected issues"? Does this term refer to unexpected issues detected by a SAST tool as against a OWASP parser? Also, I read the attached pdf file regarding the feature request but I'm a confused as to what Alexandre meant by "FN" and "TN" in his formulas for finding the True Positive Rate and False Positive Rate. If you wouldn't mind translating them

[2021-05-14 16:11] preetkaran20 commented on #274
Hi @fdmcneill2019 ,

So not expected issues are something which are not present in vulnerableapp but are reported by Sast scanner.

Actually those details of True positive rate or false positive rate will be evaluated by Sast scanners. so we need not to worry about those details.
This issue is where we need to automated the generate of [csv] (https://github.com/SasanLabs/VulnerableApp/blob/master/

[2021-05-14 20:44] fdmcneill2019 commented on #274
@preetkaran20
Thank you very much for the responses so far. I just have one more basic one: If I think I have a possible solution (idea or incomplete source code), what the most ideal way I should go about sharing it? Is there a dedicated forum for discussing problem-solving strategies with other developers? Specifically, you and whoever else is working on this issue.

Thanks again.

[2021-05-15 02:37] preetkaran20 commented on #274
Hi @fdmcneill2019,

The process is that you can add simple discussions details in the issue only so that it can be backtracked also you can write a [wiki](https://github.com/SasanLabs/VulnerableApp/wiki) in case of design and possible solutions discussions and link that wiki to this issue.

thanks,
Karan

[2021-05-16 17:54] preetkaran20 commented on #250
As benchmark is not currently maintained hence closing this issue.

[2021-05-16 17:54] #250 closed

[2021-05-23 12:49] preetkaran20 commented on #274
Hi @agigleux ,

I have one idea on automating the SAST CSV generation by creating a wrapper method which will execute the vulnerable code and also log the details which we need. Something similar to below mentioned code snippet:
[code]

However i am facing one issue because of this multiline thing i.e. :
[code]
I think SAST tool will report the exact line which can cause the vulnerability but the

[2021-05-24 15:47] #270 closed

[2021-05-25 06:47] agigleux commented on #274
Hello,

I think it's important to get the exact line number where the vulnerability can be exploited to measure how precise is the SAST tool.

Overall, I wonder if this is really required to spend time trying to automatically generate such CSV file. I think it could be OK to rely on a manual process saying that each time a new vulnerability example is added to this VulnerableApp, it's mandatory to

[2021-05-25 08:29] preetkaran20 commented on #274
Hi @agigleux,

The actual issue is that we use tools that format the files (like spotless apply) and in case there is a small modification done in the file, it requires changing the line numbers in the CSV. It will become more and more difficult to manage the CSV with the addition of vulnerabilities in the project and also adding line numbers is cumbersome for the developers of vulnerability.

One

[2021-05-25 08:30] #23 closed

[2021-05-25 08:30] #22 closed

[2021-05-25 08:34] preetkaran20 opened #286 "Add Local File Inclusion Vulnerability"
**Is your feature request related to a problem? Please describe.**
Currently, we have 2 levels for LFI vulnerability but because it is a very common vulnerability and has a lot of variants hence, it requires to be relooked.

**Describe the solution you'd like**
Add levels to LFI Vulnerability, create a good use-case for this vulnerability by looking at other vulnerable applications like Juice shop

[2021-05-25 08:36] preetkaran20 commented on #286
Acceptance criteria:
1. Use-case finding
2. Backend API creation for Vulnerability.
3. UserInterface/Template creation for the Vulnerability.
4. Compatible with https://github.com/SasanLabs/VulnerableApp-facade schema design.

[2021-05-25 08:49] preetkaran20 opened #287 "Add Remote File Inclusion"
**Is your feature request related to a problem? Please describe.**
We have not included the Remote File Inclusion vulnerability in the VulnerableApp.
A very good tutorial to follow: https://www.youtube.com/watch?v=MHBoCVvzXzc

**Describe the solution you'd like**
Try finding the use-cases from other vulnerable applications and then add those to the VulnerableApp.

[2021-05-25 08:51] preetkaran20 commented on #287
In case you feel that RFI is more suited to JSP/PHP application then please add the level to VulnerableApp-jsp or VulnerableApp-php. However, if you want to add in VulnerableApp-jsp or VulnerableApp-php then those are not ready and requires onboarding to Owaps VulnerableApp-facade(https://github.com/SasanLabs/VulnerableApp-facade)

[2021-05-25 08:53] preetkaran20 opened #288 "Add SSRF Vulnerability"
**Is your feature request related to a problem? Please describe.**
SSRF is a very important vulnerability and it is currently not present in Owasp VulnerableApp. A good tutorial video on SSRF is https://www.youtube.com/watch?v=AsPpxqIlTDU

**Describe the solution you'd like**
Try finding the use-cases from other vulnerable applications and then add those to the VulnerableApp.

[2021-05-25 08:56] preetkaran20 commented on #287
Acceptance criteria:

1. Use-case finding
2. Backend API creation for Vulnerability.
3. UserInterface/Template creation for the Vulnerability.
4. Compatible with https://github.com/SasanLabs/VulnerableApp-facade schema design.

[2021-05-25 08:56] preetkaran20 commented on #288
This Issue doesn't include the blind SSRF.
Acceptance criteria:

1. Use-case finding
2. Backend API creation for Vulnerability.
3. UserInterface/Template creation for the Vulnerability.
4. Compatible with https://github.com/SasanLabs/VulnerableApp-facade schema design.

[2021-05-25 08:59] preetkaran20 opened #289 "Add Blind SSRF Vulnerability"
**Is your feature request related to a problem? Please describe.**
Blind SSRF is a very important vulnerability and it is currently not present in Owasp VulnerableApp. A good tutorial video on Blind SSRF is https://www.youtube.com/watch?v=AsPpxqIlTDU

**Describe the solution you'd like**
Try finding the use-cases from other vulnerable applications and then add those to the VulnerableApp.

[2021-05-25 08:59] preetkaran20 commented on #289
Acceptance criteria:
1. Use-case finding
2. Backend API creation for Vulnerability.
3. UserInterface/Template creation for the Vulnerability.
4. Compatible with https://github.com/SasanLabs/VulnerableApp-facade schema design.

[2021-05-25 09:54] agigleux commented on #274
For SonarQube or SonarCloud, the line number will be at the line containing `process.exec(` (ie: at the location of the "sink").

[2021-05-25 12:47] agigleux commented on #274
Even if I doubt that such code will exist in real life, I would expect the issue to be raised on the `exec`'s line.

[2021-05-25 14:24] preetkaran20 commented on #274
Hi @agigleux,

ok, so I am thinking of the following plan:
1. I will try to run Sonarqube on VulnerableApp
2. Analyse the report
3. Maybe if I find any other important flag to consider, will include it in the CSV.

I also think that pinpointing the exact line where the vulnerability is, seems a little challenging, and requires a lot more understanding of the sonar reports. It can be the next step.

[2021-05-25 15:07] agigleux commented on #274
I think you should wait for https://jira.sonarsource.com/browse/MMF-1700 to be implemented before trying to scan VulnerableApp with SonarQube/SonarCloud. VulnerableApp is relying a lot on lambda expressions and our security engine doesn't support such syntax yet. The work to support it will start in the coming days and should be part of SonarQube 9.0 (end of June 2021).

About your approach, I'm f

[2021-05-25 17:12] preetkaran20 commented on #274
ok, Thanks for the update.

[2021-06-12 18:46] lfga98 commented on #288
Hi, I would like to work on this issue but I was wondering if we could add 3 levels.

**Level 1: Basic SSRF**
-   I've seen vulnerable applications where you enter and URL and an image is displayed, we could do something like that. This is level 1 so the vulnerability is very easy to exploit any URL it's going to work. I'll try to find a way to make **file:///etc/passwd** work.
- Input: A URL. htt

[2021-06-13 02:23] preetkaran20 commented on #288
Hi @lfga98,

Thanks for taking up this issue and thinking about it. I think we can divide SSRF into 2 categories:
1. SSRF 2. Blind SSRF.
we are having a different issue for blind SSRF.

Now coming to the number of levels, We need to look at multiple vulnerable applications like https://portswigger.net/web-security/ssrf and others so that we can introduce multiple levels under one category.

Yeah,

[2021-06-13 02:49] preetkaran20 commented on #288
@lfga98 along with the level you added above, some other levels which can be added are:
1. Port scanning
2. Cloud Metadata service

[2021-06-14 17:21] lfga98 commented on #288
Oh... okay, I'll start working on it and I'll try to find more levels that could be added. If anything comes up I'll let you know. Thank you!

[2021-06-19 06:44] preetkaran20 commented on #288
PR: https://github.com/SasanLabs/VulnerableApp/pull/290

[2021-06-29 21:38] Ivan12273 commented on #286
@preetkaran20 Hi, can I give it a try? I was reading the code and I saw how can I add a new vulnerability, but I'm not sure where those 2 levels of vulnerability are, I imagine that they are in "UnrestrictedFileUpload" but I don't know which ones.

[2021-06-30 14:58] preetkaran20 commented on #286
Hi @Ivan12273,

Sorry for the confusion, actually RFI has 2 levels implemented but for LFI we don't have any vulnerability level implemented.
Vulnerabilities implemented are: https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnerability

thanks,
Karan

[2021-06-30 16:15] Ivan12273 commented on #286
@preetkaran20 Oh I see, thanks, by the way, I was testing the RFI vulnerabilities using the url param like this:

http://localhost:9090/VulnerableApp/?url=_my-param_

But I don't get any kind of response, I am doing something wrong?

[2021-07-01 13:40] preetkaran20 commented on #286
Hi @Ivan12273 ,

Actually RFI is not fully implemented, however you can go to following URL:
http://localhost:9090/VulnerableApp/RemoteFileInclusion/LEVEL_1?url=https://www.google.com

The logic is: `http://localhost:9090/VulnerableApp/<VulnerabilityName>/<Level>`

thanks,
Karan

[2021-07-04 08:26] preetkaran20 opened #295 "XXSWithHtmlTag injection Input box is not shown properly in VulnerableApp-Facade UI"
**Describe the bug**
[VulnerableApp-Facade](https://github.com/SasanLabs/VulnerableApp-facade) UI is not showing Vulnerable-App's XSSWithHtmlTag injection vulnerability correctly. There are 2 issues:
1. Font is not proper
2. Input box is not shown and hence user might not be able to findout the input box.

**To Reproduce**
Navigate to XXSWithHtmlTagInjection vulnerability and then to any level.
![

[2021-07-04 08:36] preetkaran20 opened #296 "Update VulnerableApp's Readme/documentations and videos with newer UI"
**Is your feature request related to a problem? Please describe.**
As we have moved towards the new UI which is provided by Owasp VulnerableApp Facade hence we need to update our readme/documentations and video tutorials with newer User Interface.

Files to changes:
1. https://github.com/SasanLabs/VulnerableApp/blob/master/README.md
2. https://github.com/SasanLabs/VulnerableApp/tree/master/docs (H

[2021-07-06 03:51] preetkaran20 commented on #272
Hi @o0o-v4mp1r3-o0o,

Assigning this issue to you.

thanks,
Karan

[2021-07-07 03:34] #272 closed

[2021-07-07 14:57] preetkaran20 opened #298 "Adding Billion Laugh attacks for XXE"
**Describe the bug**
Validate Billion Laugh attack for [XXE vulnerability](https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/xxe/XXEVulnerability.java). There is some level that can have billion laugh attack but we have not tested it. There is a default limit over the expansion of entities as explained [here](https://docs.oracle.com/javase/tut

[2021-07-07 15:36] preetkaran20 commented on #298
https://github.com/zaproxy/zaproxy/issues/6671

[2021-07-07 16:48] preetkaran20 commented on #298
https://nvd.nist.gov/vuln/detail/CVE-2021-33813 Have a look at JDOM

[2021-07-14 18:45] preetkaran20 opened #300 "Revisit all the existing vulnerabilities, correct anything which is having issues"
**Is your feature request related to a problem? Please describe.**
We currently have some 10 vulnerability types but because they are written long back hence they either miss out on some functionalities like hints or better description. So this enhancement is to revisit all the types of vulnerabilities and correct everything which is incorrect.

[2021-07-27 10:26] preetkaran20 opened #301 "Path traversal vulerability using query params as Map instead of direct resolution"
**Describe the bug**
Currently path traversal vulnerability is using query params with Map: https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/pathTraversal/PathTraversalVulnerability.java#L93-L94 which should be changed to springboot queryparam injection directly.

In this issue, please also look at the overall vulnerability, check if there ar

[2021-07-27 10:32] preetkaran20 commented on #286
Please do look at https://security.stackexchange.com/questions/11868/difference-between-directory-traversal-and-file-inclusion as Path traversal/Directory traversal is already there and we are looking for LFI. I think it is tough to implement LFI for spring-boot as file execution is not very straigh forward, which is the case with server side languages like JSP or PHP and if that is the case, plea

[2021-08-03 13:58] #295 closed

[2021-08-13 15:42] preetkaran20 commented on #271
Done as part of VulnerableAppFacade project.

[2021-08-13 15:42] #271 closed

[2021-08-13 15:46] preetkaran20 commented on #199
Hi @hemantgs ,

As part of a new initiative https://github.com/SasanLabs/VulnerableApp-facade we have introduced a new mechanism where docker is added such that the developers can add the vulnerabilities in their choice of tech stack. please have a look and let me know if it serves the purpose.

thanks,
Karan

[2021-08-13 15:48] preetkaran20 commented on #198
Fixed with Owasp VulnerableApp Facade. Closing it.

[2021-08-13 15:48] #198 closed

[2021-08-13 15:53] preetkaran20 commented on #213
Hi, This issue should not happen in the new https://github.com/SasanLabs/VulnerableApp-facade UI. closing it. Will create a new one if the issue persists in VulnerableApp-Facade too.

[2021-08-13 15:53] #213 closed

[2021-08-13 15:54] preetkaran20 commented on #190
https://github.com/SasanLabs/VulnerableApp-facade done.

[2021-08-13 15:54] #190 closed

[2021-08-13 15:54] preetkaran20 commented on #186
done with https://github.com/SasanLabs/VulnerableApp-facade

[2021-08-13 15:54] #186 closed

[2021-08-13 15:54] preetkaran20 commented on #185
Done with https://github.com/SasanLabs/VulnerableApp-facade

[2021-08-13 15:54] #185 closed

[2021-08-13 15:57] preetkaran20 commented on #179
Hi @soil-droid ,

are you looking into this? or can i unassign this issue?

thanks,
Karan

[2021-08-13 15:59] preetkaran20 commented on #163
Removed Curl from AttackVector annotation so closing this issue.

[2021-08-13 15:59] #163 closed

[2021-08-13 16:02] preetkaran20 commented on #119
Closing this as we are moving towards https://github.com/SasanLabs/VulnerableApp-facade

[2021-08-13 16:02] #119 closed

[2021-08-13 16:02] preetkaran20 commented on #106
Closing this because we created a new project: https://github.com/SasanLabs/VulnerableApp-facade

[2021-08-13 16:02] #106 closed

[2021-08-13 16:04] preetkaran20 commented on #27
Done with https://github.com/SasanLabs/VulnerableApp-facade

[2021-08-13 16:04] #27 closed

[2021-08-21 10:24] preetkaran20 opened #306 "OWASP ZAP integration with VulnerableApp has some issues"
**Is your feature request related to a problem? Please describe.**
Current implementation of ZAP and VulnerableApp integration has few issues related to scoring due to different designs of both the systems. Implemetation link: https://github.com/zapbot/zap-mgmt-scripts/tree/master/vulnerableApp

**Describe the solution you'd like**
Need to redesign the scoring mechanism such that results can be mo

[2021-08-23 01:25] shreelakshmijoshi commented on #301
Hi @preetkaran20 !
I am a new open source contributor and would love to solve this issue, could you help me understand the issue better by providing some extra references ?
Is this is issue open to contribute ?

[2021-08-23 01:36] preetkaran20 commented on #301
Hi @shreelakshmijoshi,

Thanks for showing interest in taking this issue.
The issue is that https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/pathTraversal/PathTraversalVulnerability.java#L93-L94 class is using `Map<String,String>`  for query params, however, we can directly inject using ```@RequestParam String fileName```.
If this issue is th

[2021-08-23 14:42] shreelakshmijoshi commented on #301
In PathTraversalVulnerability.java  ,
should Map<String, String> be directly passed as a parameter  instead of @RequestParam?
Before :

```           @RequestParam Map<String, String> queryParams) { ```
        String fileName = queryParams.get(URL_PARAM_KEY);
        return this.readFile(() -> fileName != null, fileName);
    }

After :

  ```          Map<String, String> queryParams) {  ```

[2021-08-23 16:35] preetkaran20 commented on #301
it should be
[code]

to

[code]

actual point is that getting all the parameters in map then then extracting is not required and we can directly inject the value.

thanks,
Karan

[2021-08-23 17:18] shreelakshmijoshi commented on #301
Oh okay.. got it..
Since
[code]
is already defined in the class , we don't have to use Map.
Thanks a lot ! @preetkaran20

[2021-08-23 17:47] preetkaran20 commented on #301
No, it is because of spring injections. You can compare the two injections one with the above file vs https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/commandInjection/CommandInjection.java#L91 one.
we wanted to do something similar to the later one.
thanks,
Karan

[2021-09-05 12:43] preetkaran20 commented on #298
Issue with DDOS is that it might impact the entire vulnerableapplication. Following are my thoughts:
1. Implement DDOS outside of the VulnerableApp, probably in VulnerableApp-Facade, and have an orchestrator to handle it.
2. Create a circuit breaker kind of way where add an annotation called @DDOS and give the thread count so that we can break the circuit after it has too many invocations.

Soluti

[2021-09-18 07:12] #199 closed

[2021-09-18 07:12] #184 closed

[2021-09-18 07:23] preetkaran20 commented on #173
Analysis is on!!!

[2021-09-18 07:27] preetkaran20 opened #307 "Hacktoberfest preparation"
1. Correct all the bug descriptions on all the VulnerableApplications be it VulnerableApp-Facade, VulnerableApp-php, VulnerableApp-jsp
2. Add the issues which you want to include into the Hacktoberfest
3. Go though the code and include the tech debts and create the small issues

[2021-09-18 07:29] #29 closed

[2021-09-18 07:30] #85 closed

[2021-09-21 13:19] GitHubNull opened #308 "PersistentXSS LEVEL_4 can not take effect"
**Describe the bug**
I think PersistentXSS LEVEL_4 can not take effect, beceause the code: https://github.com/SasanLabs/VulnerableApp/blob/621499b753c68f18bd8c37e90795dae9e595b47e/src/main/java/org/sasanlabs/service/vulnerability/xss/persistent/PersistentXSSInHTMLTagVulnerability.java#L163.
It was not bug?  If it is not bug, how to take it effect.

[2021-09-21 16:00] preetkaran20 commented on #308
PR: https://github.com/SasanLabs/VulnerableApp/pull/309

[2021-09-22 15:58] preetkaran20 commented on #308
Closing this issue as it is fixed now in the unreleased version.
@GitHubNull  Thanks for finding this out. Please raise the issue if you find similar issues in future.
thanks,
Karan

[2021-09-22 15:58] #308 closed

[2021-09-25 12:03] preetkaran20 commented on #210
Closing this issue as it is not needed.

[2021-09-25 12:03] #210 closed

[2021-09-25 12:04] preetkaran20 commented on #200
Closing this issue as this should be handled by VulnerableApp-Facade UI.

[2021-09-25 12:04] #200 closed

[2021-09-25 12:05] #49 closed

[2021-09-25 12:05] preetkaran20 commented on #49
we need to add a new VulnerableApp for mongo and work on it. If there comes a requirement then we will add it to VulnerableApp-Facade

[2021-09-25 12:06] preetkaran20 commented on #80
Closing this issue as it might seems like buffer overflow is a false positive.

[2021-09-25 12:06] #80 closed

[2021-09-25 12:09] preetkaran20 commented on #122
Closing this as working on this as a separate repository https://github.com/SasanLabs/WeakCrypto !!!

[2021-09-25 12:09] #122 closed

[2021-09-25 13:53] preetkaran20 opened #310 "Issues with Hint Message in Error Based SQL Injection and union Based SQL Injections"
**Describe the bug**
Error-based SQL Injection and Union-based SQL Injection has hints which have messages without space between 2 words in multiple levels.

![image](https://user-images.githubusercontent.com/13570884/134773900-e5cde155-7cb6-4b4c-bd46-e9a46f234d83.png)

**How to fix**
Correct the string in messages files: https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/resources/i1

[2021-09-25 14:00] preetkaran20 opened #311 "Marking Vulnerability Variant as Secure for Command Injection Vulnerability"
**Describe the bug**
There are few levels in Command Injection (generally last one) which is secure implementation so we need to add the Secure variant to the Annotation. This bug also includes that exploiting all the levels and in case there are some levels which are not exploitable, marking them as secure.

**To Reproduce**
Try exploiting the vulnerability.

**Expected behavior**
Once a level is

[2021-09-25 14:06] preetkaran20 opened #312 "Marking Vulnerability Variant as Secure for Http3xxStatusCodeBasedInjection Vulnerability"
**Describe the bug**
There are few levels in Http3xxStatusCodeBasedInjection Vulnerability which are a secure implementation so we need to add the Secure variant to the Annotation. This bug also includes that exploiting all the levels and in case there are some levels that are not exploitable, marking them as secure.

**To Reproduce**
Try exploiting the vulnerability.

**Expected behavior**
Once a

[2021-09-25 14:13] preetkaran20 opened #313 "Adding Secure Implementation for PathTraversal Vulnerability"
**Describe the enhancement **
Path Traversal Vulnerability doesn't have a secure implementation so we need to add the Secure implementation. This vulnerability, we need to also validate other levels for PathTraversal vulnerability that they are exploitable or not.

Glimpse of Path traversal vulnerability:
![image](https://user-images.githubusercontent.com/13570884/134774540-fccb6397-df10-4e98-a0bf

[2021-09-25 14:25] preetkaran20 opened #314 "Fixing issues in PersistentXSSInHTMLTagVulnerability"
**Is your feature request related to a problem? Please describe.**
PersistentXSSInHTMLTagVulnerability has few issues:
1. The method names contains the Vulnerability level and they are not matching eg:
![image](https://user-images.githubusercontent.com/13570884/134774804-cacb990f-421c-493b-a9a9-706077780f25.png)
2. Secure level also contains the attack vector annotation, last level i.e. https://gi

[2021-09-25 14:34] preetkaran20 opened #315 "Fixing issues in XSSWithHtmlTagInjection Vulnerability"
**Is your feature request related to a problem? Please describe.**
XSSWithHtmlTagInjection vulnerability is handled in the backend at: https://github.com/SasanLabs/VulnerableApp/blob/ed98eb0923893ea822761cca3e7d0969b0eb340d/src/main/java/org/sasanlabs/service/vulnerability/xss/reflected/UrlParamBasedHtmlTagInjection.java

It has the following issues:
1. Class name doesn't match the Vulnerability t

[2021-09-25 14:54] preetkaran20 opened #316 "Fixing issues in XSSInImgTagAttribute Vulnerability"
**Is your feature request related to a problem? Please describe.**
XSSInImgTagAttribute vulnerability is handled in the backend at:
https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/xss/reflected/UrlParamBasedImgTagAttrInjection.java

It has the following issues:
1. Class name doesn't match the Vulnerability type so correcting it such that fin

[2021-09-25 15:16] preetkaran20 opened #317 "Marking Vulnerability Variant as Secure for XXEVulnerability"
**Is your feature request related to a problem? Please describe.**
XXEVulnerability has 4 levels out of which I think last 2 levels are not vulnerable to XXE, so the requirement is:
1. Validate which all levels are not vulnerable.
2. Marking the unexploitable levels as Variant Secure in VulnerableAppRequestMapping annotation.

**To Reproduce**
Try exploiting the vulnerability.

**Expected behavior

[2021-09-25 21:05] priyanka010392 commented on #310
Hello @preetkaran20, could you please assign it to me? I would like to work on it during Hacktober fest

[2021-09-26 17:35] preetkaran20 opened #319 "Integration Test Setup for VulnerableApp [High Priority/Important Task]"
**Is your feature request related to a problem? Please describe.**
Currently, we are not having a way to know if there is any breaking change between various releases. Like say, if there is a modification in framework or vulnerability which breaks the vulnerable app or few parts of it, there is only one way to know about it is by **manually exploring** all the levels in the VulnerableApp, which is

[2021-09-26 17:36] preetkaran20 commented on #179
Closing this as created: https://github.com/SasanLabs/VulnerableApp/issues/319

[2021-09-26 17:36] #179 closed

[2021-09-26 18:12] preetkaran20 opened #320 "Create CSV file for logging Vulnerabilities and line numbers"
**Is your feature request related to a problem? Please describe.**
SAST tools like SonarSource, want to evaluate their accuracy and improvements in finding security vulnerabilities. Now as the VulnerableApp is a Vulnerable Application for helping scanners evaluate themselves so we want to give them a CSV file something like: https://github.com/SasanLabs/VulnerableApp/blob/master/scanner/sast/expec

[2021-09-26 18:49] preetkaran20 opened #322 "SonarSource Setup for VulnerableApp"
**Is your feature request related to a problem? Please describe.**
As we need to generate Expected.csv for SAST so that SAST's can evaluate themselves, so we need to understand how SAST works on multiline bugs, security issues etc. This issue is to
1. Set up the SonarSource for VulnerableApp and
2. Analyze the SAST reports
3. Understand SAST Api's

[2021-09-26 19:05] preetkaran20 commented on #322
Setup is done in PR: https://github.com/SasanLabs/VulnerableApp/pull/321

Now we need to analyze the Report, create bugs for fixing the sonar issues and then analyse SAST report. Closing this bug and will open another for those.

[2021-09-26 19:05] #322 closed

[2021-09-26 19:11] preetkaran20 opened #324 "Analyse Sonar Report and SAST Working"
**Is your feature request related to a problem? Please describe.**
As we have done the Sonar integration with VulnerableApp in PR: https://github.com/SasanLabs/VulnerableApp/pull/321, so now we need to:
1. Analyze the Sonar Report (https://sonarcloud.io/dashboard?id=SasanLabs_VulnerableApp),
2. Raise bugs and Fix them and
3. Analyze the SAST working from the report so that we can better create exp

[2021-09-26 20:07] preetkaran20 opened #325 "Vulnerability Type And Vulnerability Subtype enhancements"
**Is your feature request related to a problem? Please describe.**
Currently, we are having 2 Vulnerability classifications:
1. https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/vulnerability/types/VulnerabilityType.java
2. https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/vulnerability/types/VulnerabilitySubType.java
and both are r

[2021-09-28 18:14] 1411dolly0 commented on #325
I like to work on it.

[2021-09-29 12:47] preetkaran20 commented on #325
Sure, I have assigned it to you.

Thanks,
Karan

[2021-09-30 07:07] 1411dolly0 commented on #325
After removing :- Remove VulnerabilityType from https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/internal/utility/annotations/VulnerableAppRestController.java annotation

It is being used in EndPointsInformationProvider class. Line number 69.

<img width="1792" alt="Screenshot 2021-09-30 at 12 33 57 PM" src="https://user-images.githubusercontent.com/73784751/13540

[2021-09-30 10:12] preetkaran20 commented on #325
Thanks for pointing it out. I think we can remove this method in allEndPointResponseBean

[2021-09-30 20:10] preetkaran20 commented on #310
Closing this issue as this is fixed by the #326

[2021-09-30 20:10] #310 closed

[2021-10-01 06:42] 1411dolly0 commented on #325
Hi

For:- Add CWE and WASC numbers to https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/vulnerability/types/VulnerabilitySubType.java for each VulnerabilityType.

I was able to find CWE in https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/vulnerability/types/VulnerabilitySubType.java for each VulnerabilityType.

Can you please help

[2021-10-01 08:43] preetkaran20 commented on #325
Hi @1411dolly0 ,

Please check if http://projects.webappsec.org/w/page/13246975/Threat%20Classification%20Taxonomy%20Cross%20Reference%20View or http://projects.webappsec.org/w/page/13246978/Threat%20Classification works ?

thanks,
Karan

[2021-10-03 17:59] preetkaran20 commented on #325
Hi @1411dolly0 ,

Are you able to proceed on this task? Please let me know if you face any issues.

thanks,
Karan

[2021-10-03 19:26] preetkaran20 opened #327 "Update How to Use.md file"
**Is your feature request related to a problem? Please describe.**
As there are too many things changed in the way to run and debug the VulnerableApp and also there are many changes done in how vulnerableapp will help SAST and DAST so we need to add all those details in these files.

[2021-10-04 03:57] 1411dolly0 commented on #325
Hi

I have raised PR. Please review.

[2021-10-05 11:33] preetkaran20 commented on #325
@1411dolly0  thank you for the changes. If possible, please mention your name as we will add it to release notes.

thanks,
Karan

[2021-10-05 11:33] #325 closed

[2021-10-05 16:26] 1411dolly0 commented on #325
Hi

Myself Dolly, Thank you. 😇

[2021-10-05 16:56] 1411dolly0 commented on #314
Hi

I would like to work on it.

[2021-10-06 10:33] 1411dolly0 commented on #314
Hi

I have a query. How to validate levels are secured or unsecured.

[2021-10-06 12:23] preetkaran20 commented on #314
Hi @1411dolly0,

Yes, that is challenging but generally, we can try different payloads, look at the code to see if we have done something wrong to introduce the vulnerability, follow the guidelines in Owasp. However, try to find the payloads to break it is best way.

[2021-10-10 20:32] #307 closed

[2021-10-10 20:59] preetkaran20 opened #329 "Adding CSRF vulnerability"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-12 11:02] preetkaran20 commented on #314
Hi @1411dolly0 ,

Easier way is to just build a docker image by running following command:
[code]
and then download https://github.com/SasanLabs/VulnerableApp-facade/blob/main/docker-compose.yml and run docker-compose up, then you can navigate to localhost will be give you a UI.

thanks,
Karan

[2021-10-12 11:31] preetkaran20 opened #330 "Update DesignDocument page with new UI"
**Is your feature request related to a problem? Please describe.**
[Design Document](https://github.com/SasanLabs/VulnerableApp/blob/master/docs/DesignDocumentation.md) contains the screenshots of older UI but that is now deprecated and we have moved to newer UI which is react based, so in this task we are looking for updating the screenshots with newer UI.

**Describe the solution you'd like**
Si

[2021-10-14 18:04] preetkaran20 opened #334 "Create a sample vulnerability template"
**Is your feature request related to a problem? Please describe.**
As VulnerableApp is written with an intent to easy develop or add new vulnerability so we have added various annotations, UI templates but still figuring them out is tough so we need to add a sample vulnerability with one level and a UI template. User will then run a gradle command which will copy those files to respective location

[2021-10-15 14:24] preetkaran20 opened #335 "Removing deprecated fields from VulnerableAppRequestMapping annotation and ScannerResponseBean"
**Is your feature request related to a problem? Please describe.**
[VulnerableAppRequestMapping](https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/internal/utility/annotations/VulnerableAppRequestMapping.java) annotation and [ScannerResponseBean](https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/beans/ScannerResponseBean.java) conta

[2021-10-16 08:34] preetkaran20 commented on #330
Already handled in a different way. Have a look at: https://sasanlabs.github.io/VulnerableApp/

[2021-10-16 08:34] #330 closed

[2021-10-17 21:10] Monoradioactivo commented on #335
I'm working on this!

[2021-10-18 04:45] #335 closed, assigned to Monoradioactivo

[2021-10-18 17:03] #314 closed

[2021-12-06 05:00] preetkaran20 opened #344 "File retrieval endpoint security validation"
**Describe the bug**
As we are reading a file in https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/fileupload/PreflightController.java class which we have uploaded at Level_8 of unrestricted file upload vulnerability (as shown below) and it seems like that code can even read the files like `/etc/passwd`.

This task is to validate the code and

[2022-01-17 10:46] preetkaran20 commented on #233
This is one such level where it is important for Scanners but not for Students: https://github.com/SasanLabs/VulnerableApp/blob/526ba97935777586c4762a38ea4af8213229448e/src/main/java/org/sasanlabs/service/vulnerability/jwt/JWTVulnerability.java#L404

we can have some kind of indicator in the UI to depict the level.

[2022-01-17 11:06] preetkaran20 opened #347 "Fixing Sonar Issues"
**Is your feature request related to a problem? Please describe.**
Currently the project has many sonar issues, we know that fixing sonar issues in vulnerable application is complex but some of the code smells can be fixed. This task is to remove those code smells.

[2022-01-17 11:07] preetkaran20 commented on #347
This task can be done in various steps, like one class at a time.

[2022-01-23 00:27] SangameshItagi commented on #347
Hey @preetkaran20 Can i pick this issue? I will fix sonar issues in couple of class

[2022-02-17 06:22] preetkaran20 commented on #251
Hi team, I have submitted the request for making Owasp VulnerableApp as Lab Project. We come a long way. Thank you baba ji.

[2022-02-19 18:28] preetkaran20 opened #350 "For Unrestricted FileUpload, indicate the file was too large to upload"
**Is your feature request related to a problem? Please describe.**
Currently, VulnerableApp's UnrestrictedFileUpload vulnerability is not having any indicator for telling users that the uploaded file is too large which causes trouble where users start thinking that the setup has some issues, etc.
Take a file of say 5-6 MB and try to upload it, you will see failures.

**Describe the solution you'd

[2022-02-20 03:20] agnarrarendelle commented on #350
Hi, I am new to Open Source contribution and would liken to work on this one, but there are a few things that I want to know. What is the maximum file size to upload? In what files should I put the new code in and what to do after users upload files that are too large? Throw an exception or simply return from that function

[2022-02-20 03:44] preetkaran20 commented on #350
Hi @agnarrarendelle ,

Great !!!, I think if you upload a large file then Spring boot should automatically return `413 Request Entity Too Large` status in response so, in the https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/resources/static/templates/UnrestrictedFileUpload/LEVEL_1 file, you can parse the response and if it is 413, you can simply indicate in UI that uploaded file is

[2022-02-20 12:27] agnarrarendelle commented on #350
Ok, I plan on do something like this
in FileUpload.js:
`var file = form.files[0];
//my code
if (file.size > "maxSpringBootSize"){
 //return from that function and create a warning window to indicate that the file is too large
   }
`
Where can I find the default limit size in the project? Sorry if I am asking too many questions because I am still fairly new to open source project contribution

[2022-02-20 12:43] preetkaran20 commented on #350
No no, actually, It is really good that you asked these questions as it helps in thinking differently.

We can go with the default limit of 10MB, and spring-boot has https://docs.spring.io/spring-boot/docs/current/api/org/springframework/boot/autoconfigure/web/servlet/MultipartProperties.html#:~:text=The%20default%20is%2010MB.,will%20be%20written%20to%20disk limit.

So One important thing is if we

[2022-02-20 12:53] preetkaran20 opened #351 "Adding new level in Unrestricted File upload which doesn't have a check on size of file uploaded"
**Is your feature request related to a problem? Please describe.**
Currently there is no level in Unrestricted File Upload which doesn't have a check on size of file uploaded.

**Describe the solution you'd like**
Adding a new level in [Unrestricted File Upload](https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/fileupload/UnrestrictedFileUploa

[2022-02-20 13:02] preetkaran20 commented on #351
if it is complex to implement in springboot then i would suggest to add this in PHP as it is quite simple. Have a look at: https://github.com/SasanLabs/VulnerableApp-php

[2022-02-20 13:10] preetkaran20 commented on #350
why I am suggesting to also add a post check where the server does the check, is because we want to introduce a vulnerability where the backend doesn't have any restriction on the size of the uploaded file as it can cause DOS which is a great addition to set of Vulnerabilities. (I added https://github.com/SasanLabs/VulnerableApp/issues/351 after your comment)

[2022-02-20 14:20] agnarrarendelle commented on #350
Hi, I just cloned the repo on my local environment, but when I tried to run it it says: "Deprecated Gradle features were used in this build, making it incompatible with Gradle 8.0. Use '--warning-mode all' to show the individual deprecation warnings.", and when I tried to open http://localhost:9090/VulnerableApp, it failed to open.
This is strange because it also says "BUILD SUCCESSFUL"
My IDE is

[2022-02-20 14:51] agnarrarendelle commented on #350
I am in the master branch, should I use developer1 branch instead?

[2022-02-20 14:59] preetkaran20 commented on #350
To build the application execute:
1. `./gradlew build`

To Run the project there are 2 ways:
1. execute: `./gradlew jibDockerBuild` and then as mentioned in https://github.com/SasanLabs/VulnerableApp#building-the-project
2. execute `./gradlew bootRun` for running as standalone. If you want to run from IDE then go to https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs

[2022-02-20 15:59] agnarrarendelle commented on #350
Thanks for the help, I have successfully made it run. And, I also would like to know if my way of checking response status is correct
[code]

Also, as I am currently not running it in Docker, the response status is always 0, so I might try Docker tomorrow to see if I can get normal response status
Thank you for all the help, and sorry for so many questions irrelevant to the issues that I was going

[2022-02-20 16:05] preetkaran20 commented on #350
Response status is 0 because you are not calling the endpoint from your code. It should work for both Docker and directly from IDE. However, overall code structure looks good.

No Issues, thank you.

[2022-02-21 08:29] agnarrarendelle commented on #350
Hi, I have made the succeeded in implementing an error message to prevent user to upload files that are bigger than 10mb
![image](https://user-images.githubusercontent.com/61732208/154915412-e18dd9d3-74bb-41ac-8cf5-649ea5898708.png)
but I could not have got correct response status(it is still always 0). I have tried to use both getXMLHttpRequest() function and create a XMLHttpRequest() variable my

[2022-02-21 15:34] preetkaran20 commented on #350
actually you need to create another callback function similar to genericResponseHandler in fileupload.js which adds another check for 413 response code.
Look at: https://github.com/SasanLabs/VulnerableApp/blob/d377e22acda179bcc775329c3e9814d60e3207d1/src/main/resources/static/vulnerableApp.js#L221

[2022-02-22 06:29] preetkaran20 opened #353 "Currently docker images are not versioned which can be an issue going further"
**Is your feature request related to a problem? Please describe.**
Docker images for VulnerableApp have just 2 versions latest and unreleased. It should be latest (whcih is unreleased) and specific tags for released versions.

For more information about the existing images:  https://hub.docker.com/r/sasanlabs/owasp-vulnerableapp

**How do we create images ?**
we have a Github action for creating a

[2022-02-22 21:46] HafdhiAtef opened #354 "Execution failed for task ':spotlessJava'. when running "gradle test""
Hello , im new to this project and new to gradle , i want to run the app as standalone and want to integrate it in gitlab ci pipeline .
the main goal is to develop an opensource devsecops apporach including SAST , DAST and SCA .
Using `./gradlew bootRun` , the apps works fine and i have access .
So for now i wanna automate the eq to a clean,compile,test and deploy in the pipeline , yet when u run

[2022-02-23 05:11] preetkaran20 commented on #354
for running test, are you using gradle wrapper? meaning `./gradlew test` ?

[2022-02-23 16:46] #311 closed

[2022-03-01 07:41] preetkaran20 commented on #274
Hi @agigleux ,

I have again revisited this and thought about the problem, I am thinking, how about if we provide you a comment indicator on the line where Vulnerability exists. Would that suffice the requirement? This solution will work for PHP, JSP, ASP and other tech stacks.

thanks,
Karan

[2022-03-01 09:01] agigleux commented on #274
Hello @preetkaran20,

I think this could answer to the need to have the list of vulnerabilities documented.
The best would be to add a script to automatically generate the [CSV file](https://github.com/SasanLabs/VulnerableApp/blob/master/scanner/sast/expectedIssues.csv) from the comment indicators.

Alex

[2022-03-07 18:02] preetkaran20 opened #359 "Http3XXStatusCodeBased injection vulnerability doesn't work with VulnerableApp Facade"
**Describe the bug**
<img width="1536" alt="image" src="https://user-images.githubusercontent.com/13570884/157090790-8a8dc2bd-8655-4a76-9f7b-e83a1295f796.png">

**To Reproduce**
Go to Http3XXStatusCodeBasedInjection Vulnerability and click on click here link as shown in the above image. it will route to a new webpage but that webpage will not open and will fail.

**Expected behavior**
The URL shou

[2022-03-10 05:31] Azhen917 commented on #359
Hello I am new to open source contributions. I tried to reproduce the issue but it seems to have routed back to the starting page after clicking on the URL.
![image](https://user-images.githubusercontent.com/68435405/157595906-57f2b825-f5c7-41be-9285-b65d093b47c9.png)

[2022-03-10 05:57] preetkaran20 commented on #359
Hi @Azhen917,

Thanks for looking at it, actually issue is with the newer user interface. if you try newer interface you will find the issue. the goal is to fix the issue for both the UI.
2nd point in the [section](https://github.com/SasanLabs/VulnerableApp#building-the-project)

thanks,
Karan

[2022-03-10 05:58] preetkaran20 commented on #359
I will also update the readme and make the 2nd option as 1st so that more people become aware about the official UI.

[2022-03-25 16:33] jpralle commented on #316
Hi,

we worked on this issue and created a PR: https://github.com/SasanLabs/VulnerableApp/pull/366

[2022-03-25 19:19] merry-degaga commented on #353
Hello,

I would like to take on this issue.

I was looking into GitHub Workflow, actions, jib, the current docker.yml, docker hub and had a few questions.

1. To make sure I understand the issue, the Docker 'unreleased' tag is on the most recently pushed image (that has not been released).
2. Then, did you want the Docker 'latest' tag on the most recently pushed image (it can be either released or

[2022-04-30 02:35] ehizman commented on #359
I will like to work on this.

[2022-04-30 02:37] ehizman commented on #351
I will like to work on this also

[2022-05-01 12:05] preetkaran20 commented on #351
@ehizman please look at https://github.com/SasanLabs/VulnerableApp/issues/350 for more information.

[2022-05-01 12:06] preetkaran20 commented on #359
Sure, assigned to you.

[2022-05-01 12:06] #316 closed

[2022-05-03 17:39] ehizman commented on #351
Noted @preetkaran20

[2022-05-08 22:43] ehizman commented on #359
Hello @preetkaran20 . I tried to reproduce the issue. I added this docker-compose.yml file

[code]
I was able to connect on `http://localhost:9090/VulnerableApp/` but whenever I click on the "Click here" link. It redirects to the homepage

[2022-05-11 02:35] preetkaran20 commented on #359
Hi @ehizman ,
Sorry for the late reply.

You will find this issue if you start looking at the newer UI. i.e use following docker compose file: https://github.com/SasanLabs/VulnerableApp-facade/blob/main/docker-compose.yml and hit `http://localhost`

[2022-05-12 19:53] ehizman commented on #359
Hello @preetkaran20 .
I build the image and then when I run `sudo docker-compose up`. I get the following error:
[code]

[2022-05-13 01:33] preetkaran20 commented on #359
Hi @ehizman ,

Which version of docker-compose are you using?
If older version, please try newer.

[2022-05-13 05:29] ehizman commented on #359
Hello @preetkaran20. I am sorry, I was able to get it started using the `docker compose up` command and not `docker-compose up`

[2022-06-30 04:36] shammer0 commented on #315
Hello!
I'm new to contributing and am looking to get my feet wet. Would it be alright if I submitted a PR for just the class name change? I'm currently reading about how to implement #2 and #3.
Thanks for your time!

[2022-06-30 04:44] preetkaran20 commented on #315
Hi @shammer0 ,

Yes, please go ahead and submit the PR. Also please let me know if you need help in understanding 2nd and 3rd points.

thanks,
Karan

[2022-07-02 15:13] ehizman commented on #359
Hi @preetkaran20. Its like you forgot close this issue

[2022-07-02 15:45] preetkaran20 commented on #359
@ehizman closed it.

[2022-07-02 15:45] #359 closed

[2022-07-13 11:43] massot-c opened #371 "Possibility to translate the application into other language"
Hello guy,

I would like to be able to translate the application into French.
I am working on this translation by adding a file "VulnerableApp/src/main/resources/i18n/messages_fr_FR.properties", based on the VulnerableApp/src/main/resources/i18n/messages_en_US.properties file.

However, we need to build a mechanism to detect the language of the user and switch the language if the user is French.

[2022-07-13 21:15] hks1 commented on #347
Hey @preetkaran20 I see a few sonar issues (critical code smells). Can I pick some of them?

[2022-07-14 03:40] preetkaran20 commented on #347
Hi @hks1 ,

Yeah sure. I have assigned the issue to you.

thanks,
Karan

[2022-07-15 15:32] #347 closed

[2022-07-30 19:19] preetkaran20 commented on #288
We have added Simple SSRF. @gled02 and @NMV01 thanks for the contributions.

Now left part is Blind SSRF.

[2022-07-31 03:16] preetkaran20 commented on #353
@merry-degaga  sorry, I missed your message. Are you working on this task ?

[2022-07-31 03:21] preetkaran20 commented on #353
Yes, unreleased is the not yet release docker image.

I think latest should be released tag.

How would github action know, we want to release a newer version ?

I think we should always triggered on merge on the main branch. For PR docker's, we are not getting any requirement till now.

[2022-07-31 03:22] #288 closed

[2022-07-31 03:27] preetkaran20 opened #379 "Adding AZURE/GCP and other cloud based Payloads for SSRF"
**Is your feature request related to a problem? Please describe.**
In the SSRF vulnerability, we have added the support for AWS metadata service based attack but there are many cloud vendors like gcp, openstack, alicloud, azure and we need to add support for them as well.

For more information: https://gist.github.com/BuffaloWill/fa96693af67e3a3dd3fb

We wanted to introduce new vulnerability level

[2022-08-01 18:20] merry-degaga commented on #353
Yes, I can work on this, thank you

[2022-08-03 21:50] merry-degaga commented on #353
The github action gitversion uses the github action checkout@v2 with a fetch-depth: 0 to grab all tags. Using the commit message from a merge request, a contributer can enter in either +semver:major | minor | patch. Patch is the default incremented value if +semver: is not included in the commit message.
I included another github action that will update the tag as well in GitHub, that is the softp

[2022-08-03 22:08] merry-degaga commented on #353
So far the functionalities I am able to set up is:
On a push event to main, given a contributer includes +semver:major | minor , this will update both the Github tag and build and push docker image with the version tag, and latest tag.
On a push event to main, given a contributer does not include +semver:major | minor, this will automatically increment the semantic version's patch value and update

[2022-08-04 11:04] preetkaran20 commented on #353
@merry-degaga sounds good. Please raise the PR and we can do modifications there if required.

thanks,
Karan

[2022-08-14 01:48] #353 closed

[2022-08-14 16:39] preetkaran20 commented on #289
@ehizman I was thinking again after our discussion, for the Blind SSRF, I think there is no need to depict anything as our target audience is scanners so let scanners find the issue. For human users, we will write the hint to explain the way to exploit it. Thoughts?

[2022-08-14 19:27] ehizman commented on #289
Hmmm. That's okay for now @preetkaran20. However, in future we have to look for a way to have users interact with the vulnerability since part of our goal is to be a database where people can learn about vulnerabilities

[2022-08-14 19:27] ehizman commented on #289
I will still proceed with checking those apps you mentioned in our dicussion. Let me see what they've got

[2022-08-14 19:28] ehizman commented on #289
Thank you @preetkaran20

[2022-08-21 14:21] ehizman commented on #289
Hello @preetkaran20. I checked the other vulnerable applications which we talked about. Interestingly none of them demonstrated the Blind SSRF vulnerability. However, I found something interesting called _Time Based Injection for Blind Vulnerabilities_. _DVWA_  uses this to demonstrate Blind SQL Injection. What happens here is that the attacker waits to see how long the page takes to respond (sinc

[2022-08-21 14:31] ehizman commented on #289
I also thought about another way. What if we setup a web server, _Server X_. We provide the domain of the Server _X_ to the user who is trying to practice Blind SSRF. In Vulnerable App we extract the domain url and place it in the referrer header of the request. When the user sends the payload to Vulnerable App, if the request is successful, _Server X_ is hit and a response is sent to Vulnerable A

[2022-08-26 18:41] preetkaran20 commented on #289
Hi @ehizman ,

For the Time based injection, yes we can go ahead with it. There can be multiple levels which we can implement like black listing approach etc.
For the 2nd one, I think we don't need server instead we can put in hints or in description that they can use `netcat` command and see if vulnerable app is calling it and if it does then they can assume that they have cleared the level.

tha

[2022-09-20 08:14] preetkaran20 opened #389 "Blog on VulnerableApp"
**Is your feature request related to a problem? Please describe.**
I think we are missing blogs explaining about VulnerableApp, how it can be used, how to configure it, all the parts of the vulnerableApp.

**Describe the solution you'd like**
Write blogs about VulnerableApp, may be if possible create a video tutorial about VulnerableApp.

[2022-09-30 16:39] #315 closed

[2022-09-30 16:42] #296 closed

[2022-10-01 05:59] preetkaran20 opened #390 "Error in Level5 and Level6 of XSSInImgTagAttribute"
**Is your feature request related to a problem? Please describe.**
There is an error in XSSInImgTagAttribute Vulnerability.

**Describe the solution you'd like**
Described at:
[OWASP Foundation Mail - OWASP VulnerableApp.pdf](https://github.com/SasanLabs/VulnerableApp/files/9689660/OWASP.Foundation.Mail.-.OWASP.VulnerableApp.pdf)

[2022-10-01 13:05] preetkaran20 opened #391 "Add unit tests for PathTraversal Vulnerability"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/pathTraversal/PathTraversalVulnerability.java class.

[2022-10-01 13:05] preetkaran20 commented on #391
Parent issue: https://github.com/SasanLabs/VulnerableApp/issues/212

[2022-10-01 13:07] preetkaran20 opened #392 "Add unit tests for Blind Sql Injection Vulnerability"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/sqlInjection/BlindSQLInjectionVulnerability.java

[2022-10-01 13:07] preetkaran20 commented on #392
Parent issue: https://github.com/SasanLabs/VulnerableApp/issues/212

[2022-10-01 13:08] preetkaran20 opened #393 "Add unit test for Union Based SQL Injection"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/sqlInjection/UnionBasedSQLInjectionVulnerability.java

[2022-10-01 13:08] preetkaran20 commented on #393
Parent issue: https://github.com/SasanLabs/VulnerableApp/issues/212

[2022-10-01 13:09] preetkaran20 opened #394 "Add unit test for Error based SQL Injection"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/sqlInjection/ErrorBasedSQLInjectionVulnerability.java

[2022-10-01 13:10] preetkaran20 commented on #394
Parent issue: https://github.com/SasanLabs/VulnerableApp/issues/212

[2022-10-01 13:11] preetkaran20 opened #395 "Add unit test for XXE vulnerability"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnerability/xxe

[2022-10-01 13:11] preetkaran20 commented on #395
Parent issue: https://github.com/SasanLabs/VulnerableApp/issues/212

[2022-10-01 13:12] preetkaran20 opened #396 "Add unit test for Persistent XSS vulnerabilities"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnerability/xss/persistent

[2022-10-01 13:13] preetkaran20 commented on #396
Parent issue: https://github.com/SasanLabs/VulnerableApp/issues/212

[2022-10-01 13:13] preetkaran20 opened #397 "Add unit tests for SSRF vulnerability"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnerability/ssrf

[2022-10-01 13:15] preetkaran20 opened #398 "Add unit tests for JWT Vulnerability"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnerability/jwt

[2022-10-01 13:15] preetkaran20 commented on #398
Parent issue: #212

[2022-10-01 13:16] preetkaran20 opened #399 "Add unit tests for FileUpload Vulnerability"
**Is your feature request related to a problem? Please describe.**
We are looking at increasing the Test coverage for the project for its stability so this task is to add junit tests for https://github.com/SasanLabs/VulnerableApp/tree/master/src/main/java/org/sasanlabs/service/vulnerability/fileupload

[2022-10-01 13:16] preetkaran20 commented on #399
Parent issue: #212

[2022-10-01 13:30] preetkaran20 opened #400 "Add secured 2-3 secured implementations for Command Injections"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:39] preetkaran20 opened #401 "Add secured 2-3 secured implementations for FileUpload"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:40] preetkaran20 opened #402 "Add secured 2-3 secured implementations for JWT Vulnerability"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:41] preetkaran20 opened #403 "Add secured 2-3 secured implementations for OpenRedirect"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:42] preetkaran20 opened #404 "Add secured 2-3 secured implementations for PathTraversal Vulnerability"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:43] preetkaran20 opened #405 "Add 2-3 secured implementations for Blind SQL Injection"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:44] preetkaran20 opened #406 "Add 2-3 secured implementations for Union SQL Injection"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:45] preetkaran20 opened #407 "Add 2-3 secured implementations for Error Based SQL Injection"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:50] preetkaran20 opened #408 "Add 2-3 secured implementations for Persistent XSS"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:51] preetkaran20 opened #409 "Add 2-3 secured implementations for Reflected XSS"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:52] preetkaran20 opened #410 "Add 2-3 secured implementations for XXE vulnerability"
**Is your feature request related to a problem? Please describe.**
As main target for Vulnerable App is scanners so we need to find out false positives by Scanners such that they can improve on there scan rules. So in order to find out the false positives, we need to add more secured implementations.

**Describe the solution you'd like**
Add 2-3 more functions in https://github.com/SasanLabs/Vulne

[2022-10-01 13:56] preetkaran20 opened #411 "Integration Test Setup for VulnerableApp"
**Is your feature request related to a problem? Please describe.**
Currently, we are not having a way to know if there is any breaking change between various releases. Like say, if there is a modification in framework or vulnerability which breaks the vulnerable app or few parts of it, there is only one way to know about it is by **manually exploring** all the levels in the VulnerableApp, which is

[2022-10-01 13:57] preetkaran20 commented on #319
Closing to give a new flavour.

[2022-10-01 13:57] #319 closed

[2022-10-01 13:59] preetkaran20 commented on #404
https://github.com/SasanLabs/VulnerableApp/issues/313

[2022-10-01 14:09] preetkaran20 opened #412 "Add a Vulnerability for Cryptographic failures"
**Is your feature request related to a problem? Please describe.**
As OWASP Top 10 gave a lot of emphasis on Cryptographic failures so we should have such vulnerability as part of VulnerableApp

**Describe the solution you'd like**
Look at other VulnerableApplications and see if they have any vulnerability for cryptographic failures and if we found something then implement something similar to the

[2022-10-01 14:21] preetkaran20 opened #413 "Adding more vulnerable levels to JWT Vulnerability"
**Is your feature request related to a problem? Please describe.**
We have many levels under JWT Vulnerability https://github.com/SasanLabs/VulnerableApp/blob/master/src/main/java/org/sasanlabs/service/vulnerability/jwt/JWTVulnerability.java but there are few attack vectors which are missing like Header Param injections as described at: https://portswigger.net/web-security/jwt.

There may be few o

[2022-10-01 18:42] Vedant755 commented on #411
Can I work on this issue? I have worked with CSV files with CRUD operations!

[2022-10-02 00:52] preetkaran20 commented on #411
Ok great!!!

[2022-10-03 07:44] TheZal opened #414 "Possibility to add the Italian translation"
Hi, like #371 I would like to indtroduce the Italian translation.
If you will assign this issue to me I would like to contribute as soon as possible adding a file "messages_it_IT.properties" based on the messages_en_US.properties file.

[2022-10-03 07:47] preetkaran20 commented on #414
Hi @TheZal ,

Sure, just one thing, we need to figure out the user's locale as well somehow and pass it to the backend, can you please explore that too if possible?

thanks,
Karan

[2022-10-03 08:04] TheZal commented on #414
I'll try in future in another issue!

[2022-10-03 11:10] preetkaran20 commented on #414
Closing the ticket. Thank you

[2022-10-03 11:10] #414 closed

[2022-10-03 11:13] preetkaran20 opened #416 "Header based Locale Selection for the application"
**Is your feature request related to a problem? Please describe.**
Currently we are processing all the files as english locale however, we have few locale existing. The task is to figure out the user locale via the local header from the request headers and use the local specific file in the code.

Code for loading the messages is present at: https://github.com/SasanLabs/VulnerableApp/blob/master/s

[2022-10-03 11:15] preetkaran20 commented on #416
Other similar tasks:
1. https://github.com/SasanLabs/VulnerableApp-facade/issues/57
2. https://github.com/SasanLabs/VulnerableApp/issues/371

[2022-10-07 10:48] LukasBrilla5 commented on #390
Hello can I work on this issue ?

[2022-10-07 10:58] preetkaran20 commented on #390
Hi @LukasBrilla5,

I think @massot-c is working on this. You can pick any other issue from the list.

thanks,
Karan

[2022-10-11 10:10] preetkaran20 commented on #390
Fixed in #417

thanks,
Karan

[2022-10-11 19:55] s-aLman commented on #255
@preetkaran20 I want to contribute. Could you please assign this to me?

[2022-10-12 12:13] shlokam commented on #399
@preetkaran20 Can you assign this issue to me?

[2022-10-14 03:31] dafarias opened #418 "Add Spanish translation to resources"
Hello!

Based on #371, I'd like to work in the feature or enhancement to add the Spanish translation based on the **messages_en_US.properties** file.

I'm also new to making contributions into open source, so I'm open to any suggestions.

Thank you.

[2022-10-14 03:55] preetkaran20 commented on #418
Hi @dafarias,

Sure, please go ahead with the implementation. Along with this change, can you also try for https://github.com/SasanLabs/VulnerableApp/issues/416 ? This task is to use the Request locale header and pick the right locale.

please let me know if you have any questions.

thanks,
Karan

[2022-10-14 16:43] preetkaran20 commented on #418
@dafarias  perfect !!! sure.

[2022-10-14 18:52] preetkaran20 commented on #416
#419 Done !!!!

[2022-10-14 18:52] #416 closed

[2022-10-14 19:01] preetkaran20 commented on #418
Hi @dafarias ,

I have included the support of Accept Language header so when you now try to launch the application after spanish changes, it should launch application in spanish.

thanks,
Karan

[2022-10-14 19:02] preetkaran20 commented on #371
@massot-c , we have enabled the support of Header based locale selection so once you translate to French, you should see application in french.

thanks,
Karan

[2022-10-14 19:04] preetkaran20 opened #420 "Add Other language translation to resources"
As we are converting the application to other locales, so this task is to convert to any of your native language.

other tickets:
1. https://github.com/SasanLabs/VulnerableApp/issues/371
2. https://github.com/SasanLabs/VulnerableApp/issues/416

[2022-10-15 04:35] natastro commented on #420
Hello! I'd be happy to provide Spanish translations if needed 😁

[2022-10-15 04:46] preetkaran20 commented on #420
Spanish is already worked upon in #418

[2022-10-17 13:18] shlokam commented on #399
@preetkaran20 For the purpose of testing, I need to update a thing. For that should I add a new dependency or can I add some code to the existing source code?

[2022-10-17 15:53] preetkaran20 commented on #399
@shlokam as you wish, please raise the PR and we will discuss on that. However, which library you are looking to add and what does it helps in?

[2022-10-20 03:52] dafarias commented on #420
Spanish PR is ready at #423. Let me know if something is up 😄

[2022-10-20 04:14] preetkaran20 commented on #418
Thanks you !!!

[2022-10-20 04:14] #418 closed

[2022-10-27 16:24] yuhwaa commented on #420
Hi! I'd like to work on the traditional Chinese translation if needed!

[2022-10-27 19:11] preetkaran20 commented on #420
@yuhwaa yes, we don't have Chinese translation. Please go ahead with adding it.

Thanks,
Karan

[2022-11-01 02:49] yuhwaa commented on #420
@preetkaran20 I've started working on the translation — should I add a new issue or can I respond to this one? I am quite new to open source and I'd like to make sure I am following the right process. Thank you!

[2022-11-01 03:35] preetkaran20 commented on #420
@yuhwaa please create a newer issue and add the link of this one in the newer issue.

[2022-11-02 11:57] antonsixtenson commented on #420
Hey, I can translate to Swedish if no one else is working on it!

[2022-11-02 16:36] preetkaran20 commented on #420
@antonsixtenson please go ahead.

thanks

[2022-11-09 02:09] yuhwaa opened #425 "Traditional Chinese translation to resources"
**Is your feature request related to a problem? Please describe.**
Adding traditional Chinese to resources; related to issue #420

**Describe the solution you'd like**
This translation would involve cross-referencing American, Taiwanese and Chinese programming resources, such as [MDN Web Docs](https://developer.mozilla.org/en-US/), for accuracy.

**Describe alternatives you've considered**
Anythin

[2022-11-09 03:12] SelectBillyFromC commented on #420
I can offer Korean translation!

[2022-11-09 17:59] preetkaran20 commented on #420
@SelectBillyFromC please go ahead and add the translation.

Thanks,
Karan

[2022-11-10 03:40] SelectBillyFromC opened #426 "Korean translation to resources"
Maps to issue: https://github.com/SasanLabs/VulnerableApp/issues/420

Borrowing from the practice of https://github.com/SasanLabs/VulnerableApp/issues/425 !

This translation would involve cross-referencing American and Korean programming resources, such as [MDN Web Docs](https://developer.mozilla.org/en-US/), for accuracy.

Anything that does not have a known Korean translation or has been recogn